<div id="banner" class="banner"></div>

<script>
    let banner = {
        errorList: [],
        notificationList: [],

        createNotification: function(value){
            let banner = document.getElementById("banner");
            banner.style.display = "flex";
            banner.innerText = value;
            banner.classList.add("notification");


            setTimeout(()=>{
                banner.style.display = "none";
                banner.classList.remove("notification");
            }, 10000);
        },

        createError: function(value){
            let banner = document.getElementById("banner");
            banner.style.display = "flex";
            banner.innerText = value;
            banner.classList.add("error");


            setTimeout(()=>{
                banner.style.display = "none";
                banner.classList.remove("notification");
            }, 10000);
        }
    }
</script>