<div class="header">
    <a class="logo" href="http://www.thesubline.com" >
        <img src="/shared/images/logo.png" alt="Subline">
        <div class='header-logo'> SUBLINE </div>
    </a>

    <div class="public-buttons">
        <button class="button" onclick="loginObj.display()"> Log In </button>

        <a class="button-join link" onclick="registerObj.display()"> Or Join </a>
    </div>
    
    <% if(locals.merchant){ %>
        <a class="logout" href="/logout">Log out</a>
    <% } %>

</div>