<div class="header">
    <a class="headerStart" href="/" >
        <img src="/shared/images/logo.png" alt="Subline">
        <div class='headerLogo mobileHide'>THE SUBLINE</div>
    </a>

    <a class="mobileHomeButton" href="/">
        <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
            <polyline points="9 22 9 12 15 12 15 22"></polyline>
        </svg>
    </a>

    <div class="headerEnd mobileHide">
        <a id="helpLink" class="headerHide" href="/help">HELP</a>

        <a id="privacyPolicyLink" class="headerHide" href="/privacy">PRIVACY POLICY</a>

        <a id="termsLink" class="headerHide" href="/terms">TERMS AND CONDITIONS</a>

        <button id="logInButton" class="button headerHide" onclick="loginObj.display()">LOG IN</button>

        <button id="joinButton" class="button headerHide" onclick="registerObj.display()">JOIN</button>
    </div>
</div>