<div class="header">
    <a class="logo" href="http://www.thesubline.com" >
        <img src="/shared/images/logo.png" alt="Subline">
        <h1>SUBLINE</h1>
    </a>
    
    <% if(locals.merchant){ %>
        <a class="logout" href="/logout">Log out</a>
    <% } %>
</div>