<div id="legal">
    <h1>The Subline, LLC Privacy Policy</h1>

    <p>Last modified: December 23, 2019</p>

    <h3>Introduction</h3>

    <p>The Subline, LLC. ("Company" or "We") respects your privacy, and we are committed to protecting it through our compliance with this policy.</p>

    <p>This policy describes the types of information we may collect from you or that you may provide when you visit the website, www.thesubline.com (the "Website") or utilize any of the services on our platform, including our practices for collecting, using, maintaining, protecting, and disclosing that information.</p>

    <p class="left">This policy applies to information we collect:</p>

    <ol class="left">
        <li>On our Website and our Platform;</li>

        <li>In emails, texts, and other electronic messages between you and the Website and our Platform in connection with inventory management (procurement, sales, management, etc.);</li>

        <li>When you interact with our advertising and applications on third-party websites and services, if those applications or advertising include links to this policy.</li>
    </ol>

    <p>Please read this policy carefully to understand our policies and practices regarding your information and how we will treat it. If you do not agree with our policies and practices, your choice is not to use our Website or Platform. By accessing or using our Website and Platform, you agree to this privacy policy. This policy may change from time to time (see Changes to Our Privacy Policy). Your continued use of our Website and the Platform after we make changes is deemed to be acceptance of those changes, so please check the policy periodically for updates.</p>

    <h3>Information We Collect About You and How We Collect It</h3>

    <p>Generally, no personally identifiable information, such as your name or mailing address, is collected anytime you visit the Website/Platform, nor is it required for you to visit the Website and our Platform. We collect several types of information from and about users of our Website and our Platform, including information:</p>

    <ol>
        <li>by which you may be personally identified, such as name, postal address, e-mail address, credit card information, or telephone number ("personal information");</li>

        <li>about your internet connection, the equipment you use to access our Website and our Platform and usage details.</li>
    </ol>

    <h3>We collect this information:</h3>

    <ol>
        <li>Directly from you when you provide it to us;</li>

        <li>Automatically as you navigate through the site. Information collected automatically may include usage details, IP addresses, and information collected through cookies;</li>

        <li>From third parties, for example, our business partners.</li>
    </ol>
</div>