
<link rel="stylesheet" href="/shared/registerform.css">
    
<div>
    <form action="/login" method="post">
        <h1> Please Sign In </h1>

        <h3 class="link" onclick="registerObj.display()"> New Here? Please Sign Up </h3>

        <label>Email
            <input type="text" name="email" type="email" required>
        </label>

        <label>Password
            <input type="password" name="password" required>
        </label>

        <input id="signIn" class="buttonDisabled" type="submit" value="Sign In">
    </form>
</div>

