<div class="menu">
    <div class="menuHead">
        <a href="/">
            <img class="menuLogo" src="/shared/images/logo.png">
            <p>The Subline</p>
        </a>

        <button onclick="changeMenu()">&#8801;</button>
    </div>

    <button id="homeBtn" class="active" onclick="changeStrand('homeStrand')">
        <img src="/shared/images/homeIcon.png" alt="home">
        <p>Home</p>
    </button>

    <button id="ingredientsBtn" onclick="changeStrand('ingredientsStrand')">
        <img src="/shared/images/recieptIcon.png" alt="ingredients">
        <p>Ingredients</p>
    </button>

    <button id="recipeBookBtn" onclick="changeStrand('recipeBookStrand')">
        <img src="/shared/images/bookIcon.png" alt="recipe book">
        <p>Recipe Book</p>
    </button>

    <button id="ordersBtn" onclick="changeStrand('ordersStrand')">
        <img src="/shared/images/cartIcon.png" alt="orders">
        <p>Orders</p>
    </button>

    <a class="logout" href="/logout">
        <img src="/shared/images/profile.png" alt="logout">
        <p>Logout</p>
    </a>

    <script>
        let changeMenu = ()=>{
            let menu = document.querySelector(".menu");
            let buttons = document.querySelectorAll(".menu > button");
            if(!menu.classList.contains("menuMinimized")){
                menu.classList = "menu menuMinimized";

                for(let button of buttons){
                    button.children[1].style.display = "none";
                }

                document.querySelector(".menuHead p").style.display = "none";
                document.querySelector(".menuHead").classList = "menuHead menuHeadMin";
                document.querySelector(".logout p").style.display = "none";

                setTimeout(()=>{
                    document.querySelector(".menuLogo").classList = "menuLogo menuLogoMin";
                }, 150);
            }else if(menu.classList.contains("menuMinimized")){
                menu.classList = "menu";

                for(let button of buttons){
                    button.children[1].style.display = "block";
                }

                document.querySelector(".menuHead p").style.display = "block";
                document.querySelector(".menuHead").classList = "menuHead";
                document.querySelector(".logout p").style.display = "block";

                setTimeout(()=>{
                    document.querySelector(".menuLogo").classList = "menuLogo";
                });
            }
        }
    </script>
</div>