<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/otherPages/style.css">
        <link rel="stylesheet" href="/shared/shared.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <a class="headerStart" href="/" >
                <img src="/shared/images/logo.png" alt="Subline">
                <div class='headerLogo'>THE SUBLINE</div>
            </a>
        
            <div class="headerEnd">
                <a id="helpLink" href="/help">HELP</a>
        
                <a id="privacyPolicyLink" href="/privacy">PRIVACY POLICY</a>
        
                <a id="termsLink" href="/terms">TERMS AND CONDITIONS</a>
        
                <a id="logInButton" class="button" href="/login">LOG IN</a>
        
                <a id="joinButton" class="button" href="/register">JOIN</a>
            </div>
        </div>

        <% include ../shared/banner.ejs %>

        <div class="main-background">
            <div class="logo-text">
                <img src="/shared/images/logoWithText.png" alt="Subline">

                <p>The only inventory-POS integration that reduces food, time, and waste costs through automation, machine learning, and data-driven analysis.</p>
            </div>
        </div>

        <div class="more-info">
            <h1>TIME IS MONEY</h1>

            <p>For any restaurant owner familiar with this age-old adage (ie: everyone), the Subline integration creates an immediate impact by freeing up time to focus on their heighest priorities.  Yes, all good managers understand why it is important to control food and waste costs but staying on top of this task becomes burdensome and pushed aside with the volume of operational and customer issues faced every day.  It's the unfortunate side-effect of restaurant owners who lack ideal support and continually compete against razor thin margins.</p>

            <div class="line-break"></div>

            <h1>HOW IT WORKS</h1>

            <p>LET THE SUBLINE HELP SAVE YOU TIME WITH:</p>

            <ul>
                <li><span>Real Time Tracking</span> - Inventory is updated in real-time with resupply and customer purchases.  This eliminates the guess work for owners who want to know what is on their shelves.</li>
                <li><span>True Cost of Inventory</span> - The true cost of each item on owner's shelves are tracked against waste, returns, samples, etc.  This allows owners to determine the opportunity cost of inventory, and how it affects the bottom line.</li>
                <li><span>Recipe Integration</span> - The Subline integrates recipes into inventory management.  This gives owners the ability to conduct cost modeling and profit projections based on ingredient type, quantity, and source.</li>
                <li><span>Report Generation</span> - The Subline generates weekly, monthly, and annual reports that includes KPIs and trend analysis to help owners make decisions.  The Subline also generates weekly spot-check reports to ensure you never run out of a customer favorite during peak demand.</li>
                <li><span>Waste Audit Reporting</span> - The Subline generates daily audits for the owner.  Integrating daily auditing into routine kitchen operations means that responsible waste prevention will become part of the restaurant's culture and will have implications both socially and on the bottom line.</li>
                <li><span>Trend Identification</span> - Trends happen in cycles.  The Subline helps identify these trends, such as seasonal changes in menu demand, supply pricing, and local supply shortages, to give owners the information they need for inventory management.</li>
            </ul>
        </div>

        <% include ../shared/loader %>

        <script>
            let locals = <%- JSON.stringify(locals) %>

            if(locals.banner !== undefined){
                let bannerElem = document.getElementById("banner");
                bannerElem.children[0].style.background = locals.banner.color;
                bannerElem.children[1].innerText = locals.banner.message;
                bannerElem.style.display = "flex";

                switch(locals.banner.type){
                    case "error":
                        bannerElem.children[0].innerHTML = `
                            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="15" y1="9" x2="9" y2="15"></line>
                                <line x1="9" y1="9" x2="15" y2="15"></line>
                            </svg>
                        `;
                        break;
                    case "success":
                        bannerElem.children[0].innerHTML = `
                            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <circle cx="12" cy="12" r="10"></circle>
                                <line x1="12" y1="8" x2="12" y2="12"></line>
                                <line x1="12" y1="16" x2="12.01" y2="16"></line>
                            </svg>
                        `;
                        break;
                    default: 
                        bannerElem.children[0].innerHTML = `
                            <svg width="50" height="50" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                <path d="M22 11.08V12a10 10 0 1 1-5.93-9.14"></path>
                                <polyline points="22 4 12 14.01 9 11.01"></polyline>
                            </svg>
                        `;
                }

                let timer = setTimeout(()=>{
                    bannerElem.style.display = "none"
                }, 7000);

                bannerElem.children[2].onclick = ()=>{
                    bannerElem.style.display = "none";
                    clearTimeout(timer);
                }
            }
        </script>
    </body>
</html>