*{margin:0;padding:0;font-family:'Saira',sans-serif;}

html, body{
    width: 100vw;
    max-width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    width: 100%;
    background: rgb(0, 27, 45);
    height: 75px;
    padding: 0 25px;
    box-sizing: border-box;
}

    .headerStart{
        display: flex;
        align-items: center;
        text-decoration: none;
    }

        .headerLogo{
            color: rgb(255, 99, 107);
            font-size: 25px;
            margin-left: 10px;
        }

        .headerStart img{
            max-height: 90%;
        }

    .headerEnd{
        display: flex;
        align-items: center;
        height: 100%;
        color: white;
    }

        .link{
            margin: 10px;
            color: white;
        }

        .enterButton{
            background: rgb(179, 191, 209);
            border: none;
            text-decoration: none;
            padding: 10px 25px;
            color: black;
            cursor: pointer;
            text-align: center;
            font-size: 15px;
            min-width: 100px;
            margin: 5px;
            max-height: 52px;
        }

            .enterButton:hover{
                background: rgb(240, 252, 255);
                color:black;
            }

            .enterButton:active{
                background: rgb(0, 27, 45);
            }

.main-background{
    display: flex;
    align-items: center;
    justify-content: center;
    background-image: url("/shared/images/backgroundImg01.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 88vh;
    width: 100%;
    color: rgb(0, 27, 45);
}

    .logo-text{
        display: flex;
        flex-direction: column;
        align-items: center;
        max-width: 50vw;
    }

        .logo-text img{
            max-height: 25vh;
            margin-bottom: 35px;
        }

        .logo-text p{
            font-weight: bold;
            font-size: 25px;
            color: rgb(255, 99, 107);
            text-align: center;
        }

.more-info{
    width: 100%;
    padding: 75px;
    background:rgb(0, 27, 45);
    color: white;
    box-sizing: border-box;
    text-align: justify;
    font-size: 25px;
}

    .more-info > *{
        margin: 15px;
    }

    .line-break{
        width: 100%;
        border: 1px solid rgb(255, 99, 107);
        margin: 30px 0;
    }

    .more-info h1{
        color: rgb(255, 99, 107);
        text-align: center;
        font-size: 45px;
        margin: 25px 0;
    }

    ul > *{
        margin: 15px 0;
    }

    ul span{
        color: rgb(255, 99, 107);
    }

    li{
        font-size: 20px;
    }

#login{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

    form{
        display: flex;
        flex-direction: column;
        padding: 25px;
        background: rgb(240, 252, 255);
        border: 1px solid black;
        min-width: 500px;
    }

        form > *{
            margin: 5px;
        }

        form h1{
            text-align: center;
        }

        label{
            display: flex;
            flex-direction: column;
        }

        .submitButton{
            background: rgb(0, 27, 45);
            border: none;
            text-decoration: none;
            padding: 10px 25px;
            color: white;
            cursor: pointer;
            text-align: center;
            font-size: 15px;
            min-width: 100px;
            margin: 5px;
            max-height: 52px;
        }
        
            .submitButton:hover{
                background: rgb(179, 191, 209);
                color:black;
            }
        
            .submitButton:active{
                background: rgb(240, 252, 255);
            }

        form a{
            text-align: center;
            color: gray;
            margin: 5px;
            font-size: 20px;
        }

.footer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    background: rgb(240, 252, 255);
    width: 100%;
    box-sizing: border-box;
}

    .footer div > *{
        margin: 0 10px;
    }

#register{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    height: 100vh;
}

    #agreement{
        flex-direction: row;
    }

    #agreement p{
        margin-left: 10px;
    }

    .customText{
        text-align: center;
    }

    #squareButton{
        display: flex;
        align-items: center;
        justify-content: center;
        border: 1px solid black;
        background: white;
        color: black;
        height: 44px;
        cursor: pointer;
    }
    
        #squareButton:hover{
            color: white;
            background: black;
        }

.banner{
    display: flex;
    width: 75%;
    height: 65px;
    margin: 10px auto;
    box-shadow: 0 0 10px black;
    border: 2px solid black;
    background: white;
    position: fixed;
}

    .banner > div{
        display: flex;
        align-items: center;
        justify-content: center;
        width: 25%;
        color: white;
    }

    .banner > p{
        display: flex;
        align-items: center;
        font-size: 20px;
        font-weight: bold;
        width: 75%;
        padding-left: 10px;
    }

    .banner > button{
        background: none;
        border: none;
        height: 20px;
        position: relative;
        top: -10px;
        right: -10px;
        cursor: pointer;
        color: white;
        pointer-events: all;
    }