<div id="addIngredients">
    <div class="sidebarIconButtons">
        <button class="iconButton" onclick="closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </button>
    </div>
    
    <h1>Add New Ingredients</h1>

    <div id="addIngredientList"></div>

    <div class="lineBorder"></div>

    <div id="myIngredientsDiv">
        <h2>My Ingredients</h2>

        <div id="myIngredients"></div>

        <div class="lineBorder"></div>
    </div>

    <div class="buttonBox">
        <button class="button addIngredientsBtn" onclick="newIngredientComp.display()">Create New</button>

        <button class="button addIngredientsBtn" onclick="addIngredientsComp.submitAddIngredients()">Add</button>
    </div>

    <template id="addIngredientsCategory">
        <div class="addIngredientsCategory">
            <div class="categoryHeader">
                <h5></h5>
                
                <button>
                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="6 9 12 15 18 9"></polyline>
                    </svg>

                    <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                        <polyline points="18 15 12 9 6 15"></polyline>
                    </svg>
                </button>
            </div>

            <div class="addIngredientsIngredients"></div>
        </div>
    </template>

    <template id="addIngredientsIngredient">
        <div class="addIngredientsIngredient">
            <p></p>
            <button onclick="addIngredientsComp.addOne(this.parentElement)">+</button>
        </div>
    </template>
</div>