.sidebar{
    display: flex;
    width: 18vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 25px;
    transition: width 0.2s;
    overflow: hidden;
    box-shadow: -1px 0px 10px gray;
}

.sidebarHide{
    width: 0;
    transition: width 0.2s;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: -1px 0px 10px gray;
}

    .sidebarHide > *{
        width: 0;
        transition: width 0.2s;
        visibility: hidden;
    }

.sidebar button:first-of-type{
    background: none;
    border: none;
    cursor: pointer;
    margin-bottom: 100px;
    padding: 3px;
    border-radius: 5px;
    margin-right: auto;
}

    .sidebar button:first-of-type:hover{
        background: rgb(0, 27, 45);
        color: white;
    }

.lineBorder{
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 25px;
}

#addIngredient{
    flex-direction: column;
}

#ingredientDetails{
    flex-direction: column;
    align-items: center;
}

    #ingredientDetails > p{
        border-radius: 10px;
        background: gray;
        color: white;
        padding: 0 3px;
        font-size: 14px;
    }

    #ingredientDetails label{
        font-size: 20px;
        text-align: center;
    }

    #ingredientDetails label p{
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
    }

#recipeDetails{
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
}

    #recipeDetailsButtons{
        display: flex;
        justify-content: space-between;
        width: 100%;
        margin-bottom: 100px;
    }

    #recipeDetailsButtons button{
        background: none;
        border: none;
        cursor: pointer;
        margin: 0;
        padding: 3px;
        border-radius: 5px;
    }

        #recipeDetailsButtons button:hover{
            background: rgb(0, 27, 45);
            color: white;
        }

    #recipeIngredients{
        width: 100%;
    }

    .recipeIngredient{
        display: flex;
        justify-content: space-between;
        margin: 25px;
    }

    #recipePrice{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    #recipePrice p{
        font-size: 25px;
        font-weight: bold;
    }