<div id="ingredientDetails" class="sidebarHide">
    <p></p>
    <h2></h2>
    <div class="lineBorder"></div>

    <label>Current Stock
        <p id="ingredientStock"></p>
    </label>

    <div class="lineBorder"></div>

    <label>Average Daily Use (30 days)
        <p id="dailyUse"></p>
    </label>
</div>