.analTabButton{
    background: rgb(0, 27, 45);
    border: none;
    color: white;
    cursor: pointer;
    padding: 5px;
    width: 125px;
}

    .analTabButton.active{
        background: rgb(179, 191, 209);
        color: black;
        box-shadow: inset 0 0 5px black;
    }

#analCategoriesTab{
    border-left: 3px solid rgb(255, 99, 107);
    border-right: 3px solid rgb(255, 99, 107);
    width: 131px;
}

.analContent{
    display: flex;
    justify-content: space-around;
    align-items:center;
    padding: 15px;
    box-sizing: border-box;
    height: 90%;
}

    .itemsList{
        list-style-type: none;
        width: 15%;
        max-height: 95%;
        overflow-y: auto;
    }

    .analData{
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        width: 100%;
        height: 100%;
    }

        #itemUseGraph{
            padding: 10px;
            height: 60%;
            flex-basis: 100px;
            flex-grow: 5;
        }

        .dataRow{
            display: flex;
            justify-content: space-between;
            flex-basis: 150px;
            flex-grow: 0;
        }

            .dataRow .analCard{
                display: flex;
                flex-direction: column;
                justify-content: space-around;
                margin: 5px;
                height: inherit;
            }

                .dataRow .analCard > *{
                    margin: 0;
                }

                .analCard h1{
                    text-align: center;
                }

#analRecipeContent{
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding: 15px;
    box-sizing: border-box;
    height: 90%;
}