<div id="editIngredient">
    <div class="sidebarIconButtons mobileHide">
        <button class="iconButton tooltipContainer" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
            <span class="tooltip">CLOSE</span>
        </button>
    </div>

    <h1 id="editIngTitle"></h1>

    <label>NAME:
        <input id="editIngName" type="text">
    </label>

    <label>CATEGORY:
        <input id="editIngCategory" type="text">
    </label>

    <label id="editIngQuantityLabel"></label>

    <label id="editSpecialLabel"></label>

    <div class="lineBorder bottleHide"></div>

    <h3 class="bottleHide">DEFAULT UNIT</h3>

    <div class="bottleHide" id="unitButtons"></div>

    <div class="lineBorder"></div>

    <h3>CONVERSIONS</h3>

    <div id="editIngMass" class="converterBox" stye="display:none">
        <input type="number" min="0" step="0.01">

        <h4></h4>

        <p>=</p>

        <input type="number" min="0" step="0.01">

        <select>
            <option value="g">G</option>
            <option value="kg">KG</option>
            <option value="oz">OZ</option>
            <option value="lb">LB</option>
        </select>
    </div>

    <div id="editIngVolume" class="converterBox" stye="display:none">
        <input type="number" min="0" step="0.01">

        <h4></h4>

        <p>=</p>

        <input type="number" min="0" step="0.01">

        <select>
            <option value="ml">ML</option>
            <option value="l">L</option>
            <option value="tsp">TSP</option>
            <option value="tbsp">TBSP</option>
            <option value="ozfl">OZ. FL</option>
            <option value="cup">CUP</option>
            <option value="pt">PT</option>
            <option value="qt">QT</option>
            <option value="gal">GAL</option>
        </select>
    </div>

    <div id="editIngLength" class="converterBox" stye="display:none">
        <input type="number" min="0" step="0.01">

        <h4></h4>

        <p>=</p>

        <input type="number" min="0" step="0.01">

        <select>
            <option value="mm">MM</option>
            <option value="cm">CM</option>
            <option value="m">M</option>
            <option value="in">IN</option>
            <option value="ft">FT</option>
        </select>
    </div>

    <div class="lineBorder"></div>

    <button id="editIngSubmit" class="sidebarButton">SUBMIT</button>

    <div class="lineBorder"></div>

    <button id="editSubIngredients" class="sidebarButton">EDIT SUB-INGREDIENTS</button>
</div>