<div id="editRecipe">
    <div class="sidebarIconButtons">
        <button class="iconButton tooltipContainer" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
            <span class="tooltip">CLOSE</span>
        </button>
    </div>

    <div id="editRecipeInputContainer">
        <h1 id="editRecipeTitle"></h1>

        <label id="editRecipeName" style="display:none">NAME:
            <input type="text">
        </label>
        
        <label id="editRecipeCategory" style="display:none">CATEGORY:
            <input type="text">
        </label>
        
        <label id="editRecipePrice" style="display:none">PRICE:
            <input type="number" step="0.01" min="0">
        </label>
    </div>

    <div id="editRecipeContents">
        <div id="editRecipeLeft">
            <input id="editRecipeSearch" type="text" placeholder="SEARCH">

            <div id="editRecipeUnused"></div>
        </div>

        <div class="lineBorderVert"></div>

        <div id="editRecipeRight">
            <h2>LIST OF INGREDIENTS</h2>

            <div id="editRecipeUsed"></div>

            <button id="editRecipeSubmit" class="sidebarButton">SUBMIT</button>
        </div>
    </div>

    <template id="editRecipeInputItem">
        <div class="chosenSelection">
            <div>
                <p></p>

                <button id="editRecipeRemoveBtn" class="sidebarButton">REMOVE</button>
            </div>

            <div>
                <input type="number" step="0.01" min="0" placeholder="QUANTITY">

                <select>
                    <optgroup label="MASS/WEIGHT" style="display:none">
                        <option type="mass" value="g">G</option>
                        <option type="mass" value="kg">KG</option>
                        <option type="mass" value="oz">OZ</option>
                        <option type="mass" value="lb">LB</option>
                    </optgroup>
        
                    <optgroup label="VOLUME" style="display:none">
                        <option type="volume" value="ml">ML</option>
                        <option type="volume" value="l">L</option>
                        <option type="volume" value="tsp">TSP</option>
                        <option type="volume" value="tbsp">TBSP</option>
                        <option type="volume" value="ozfl">OZ. FL</option>
                        <option type="volume" value="cup">CUP</option>
                        <option type="volume" value="pt">PT</option>
                        <option type="volume" value="qt">QT</option>
                        <option type="volume" value="gal">GAL</option>
                    </optgroup>
        
                    <optgroup label="LENGTH" style="display:none">
                        <option type="length" value="mm">MM</option>
                        <option type="length" value="cm">CM</option>
                        <option type="length" value="m">M</option>
                        <option type="length" value="in">IN</option>
                        <option type="length" value="ft">FT</option>
                    </optgroup>
        
                    <optgroup label="OTHER" style="display:none">
                        <option type="other" value="each">EACH</option>
                    </optgroup>
                </select>
            </div>
        </div>
    </template>
</div>