<div id="newOrderIngredientList">
    <div class="sidebarIconButtons">
        <button class="iconButton tooltipContainer" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
            <span class="tooltip">CLOSE</span>
        </button>
    </div>

    <h1>INGREDIENTS</h1>

    <div id="newOrderIngredients"></div>
</div>

<div id="newOrder">
    <h1>NEW ORDER</h1>

    <div class="newOrderLabels">
        <label>DATE:
            <input id="newOrderDate" type="date">
        </label>

        <label>NAME/ID:
            <input id="newOrderName" type="text">
        </label>

        <label>TAXES:
            <input id="orderTaxes" type="number" min="0" step="0.01">
        </label>

        <label>OTHER FEES:
            <input id="orderFees" type="number" min="0" step="0.01">
        </label>
    </div>

    <div id="selectedIngredientList"></div>

    <button id="submitNewOrder" class="sidebarButton">CREATE</button>

    <button id="orderFileUpload" class="linkButton">Or, upload a spreadsheet</button>

    <template id="selectedIngredient">
        <div class="selectedIngredient">
            <div>
                <p></p>

                <button class="newOrderRemove">REMOVE</button>
            </div>
            
            <div>
                <input type="number" min="0" step="0.01" placeholder="QUANTITY">

                <input type="number" min="0" step="0.01" placeholder="PRICE PER UNIT($)">
            </div>
        </div>
    </template>
</div>