<div id="addRecipe">
    <div class="sidebarIconButtons">
        <button class="iconButton tooltipContainer" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
            <span class="tooltip">CLOSE</span>
        </button>
    </div>

    <h1>NEW RECIPE</h1>

    <div id="newRecipeContent">
        <div id="newRecipeLeft">
            <input id="newRecipeSearch" type="text" placeholder="SEARCH">

            <div id="recipeChoices"></div>
        </div>

        <div id="newRecipeData">
            <div id="newRecipeDataInputs">
                <input id="newRecipeName" type="text" placeholder="NAME">

                <input id="newRecipeCategory" type="text" placeholder="CATEGORY">

                <input id="newRecipePrice" type="number" step="0.01" min="0" placeholder="PRICE">
            </div>

            <div id="newRecipeChosenList"></div>

            <button id="submitNewRecipe" class="sidebarButton">CREATE</button>
        </div>
    </div>

    <template id="newRecipeChosenIngredient">
        <div class="chosenSelection">
            <div>
                <p></p>
                
                <button class="sidebarButton">REMOVE</button>
            </div>
            
            <div>
                <input type="number" step="0.01" min="0">

                <select>
                    <optgroup label="MASS/WEIGHT" style="display:none">
                        <option type="mass" value="g">G</option>
                        <option type="mass" value="kg">KG</option>
                        <option type="mass" value="oz">OZ</option>
                        <option type="mass" value="lb">LB</option>
                    </optgroup>
        
                    <optgroup label="VOLUME" style="display:none">
                        <option type="volume" value="ml">ML</option>
                        <option type="volume" value="l">L</option>
                        <option type="volume" value="tsp">TSP</option>
                        <option type="volume" value="tbsp">TBSP</option>
                        <option type="volume" value="ozfl">OZ. FL</option>
                        <option type="volume" value="cup">CUP</option>
                        <option type="volume" value="pt">PT</option>
                        <option type="volume" value="qt">QT</option>
                        <option type="volume" value="gal">GAL</option>
                    </optgroup>
        
                    <optgroup label="LENGTH" style="display:none">
                        <option type="length" value="mm">MM</option>
                        <option type="length" value="cm">CM</option>
                        <option type="length" value="m">M</option>
                        <option type="length" value="in">IN</option>
                        <option type="length" value="ft">FT</option>
                    </optgroup>
        
                    <optgroup label="OTHER" style="display:none">
                        <option type="other" value="each">EACH</option>
                    </optgroup>
                </select>
            
            </div>
        </div>
    </template>
</div>