<div id="orderCalculator">
    <div class="sidebarIconButtons mobileHide">
        <button class="iconButton" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </button>
    </div>

    <h1>ORDER PREDICTION</h1>

    <div class="dateRange">
        <h3>Date Range:</h3>
        <div class="dateRangeInput">
            <input id="predictDateFrom" type="date">
            <p> - </p>
            <input id="predictDateTo" type="date">
        </div>
    </div>

    <select id="predictSelector"></select>

    <button class="button" id="predictButton">PREDICT</button>

    <h1 id="prediction"></h1>
</div>