<div id="orderFilter">
    <div class="sidebarIconButtons">
        <button class="iconButton" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </button>
    </div>

    <h1>FILTER ORDERS</h1>

    <div class="dateRange">
        <h3 id="filterOrderDateRange">Date Range:</h3>
        <div class="dateRangeInput">
            <input id="orderFilterDateFrom" type="date">
            <p> - </p>
            <input id="orderFilterDateTo" type="date">
        </div>
    </div>

    <div class="lineBorder"></div>

    <h3>Ingredients</h3>

    <div id="orderFilterIngredients"></div>

    <div class="lineBorder"></div>

    <button id="orderFilterSubmit" class="sidebarButton">SUBMIT</button>
</div>