<div id="transactionFilter" class="transactionFilter">
    <div class="sidebarIconButtons">
        <button class="iconButton tooltipContainer" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
            <span class="tooltip">CLOSE</span>
        </button>
    </div>

    <h1>FILTER TRANSACTIONS</h1>

    <div class="dateRange">
        <h3 id="transactionFilterDateLabel">Date Range:</h3>
        <div class="dateRangeInput">
            <input id="transFilterDateStart" type="date">
            <p> - </p>
            <input id="transFilterDateEnd" type="date">
        </div>
    </div>

    <div class="lineBorder"></div>

    <h3>Recipes</h3>

    <div id="transFilterRecipeList"></div>

    <div class="lineBorder"></div>

    <button id="transFilterSubmit" class="sidebarButton">SUBMIT</button>
</div>