<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>The Subline</title>
        <style>
            form{
                display:flex;
                flex-direction: column;
            }

            form > *{
                margin: 10px;
            }
        </style>
    </head>
    <body>
        <form action="/admin/create" method="post" enctype="multipart/form-data">
            <label>Ingredients
                <input name="ingredients" type="file">
            </label>

            <label>Recipes
                <input name="recipes" type="file">
            </label>

            <label>Orders
                <input name="orders" type="file">
            </label>

            <label>Transactions
                <input name="transactions" type="file">
            </label>

            <input type="submit" value="Submit">
        </form>
    </body>
</html>