<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/dashboardPage/dashboard.css">
        <link rel="stylesheet" href="/dashboardPage/sidebars.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
        <script src="https://cdn.plot.ly/plotly-latest.min.js"></script>
    </head>
    <body>
        <% include ./ejs/menu.ejs %>

        <div id="mobileMenuSelector" class="mobileMenuSelector" onclick="controller.openMenu()">&#8801;</div>

        <button id="sidebarCloser" style="display: none;" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="18" y1="6" x2="6" y2="18"></line>
                <line x1="6" y1="6" x2="18" y2="18"></line>
            </svg>
        </button>

        <div class="contentBlock">
            <%include ./ejs/banner.ejs %>
            
            <% include ./ejs/strands/home.ejs %>
            <% include ./ejs/strands/ingredients.ejs %>
            <% include ./ejs/strands/recipeBook.ejs %>
            <% include ./ejs/strands/analytics.ejs %>
            <% include ./ejs/strands/orders.ejs %>
            <% include ./ejs/strands/transactions.ejs %>
            <% include ./ejs/strands/account.ejs %>
        </div>

        <div id="sidebarDiv" class="sidebarHide">
            <% include ./ejs/sidebars/newIngredient %>
            <% include ./ejs/sidebars/ingredientDetails %>
            <% include ./ejs/sidebars/editIngredient %>
            <% include ./ejs/sidebars/recipeDetails %>
            <% include ./ejs/sidebars/newRecipe %>
            <% include ./ejs/sidebars/orderDetails %>
            <% include ./ejs/sidebars/newOrder %>
            <% include ./ejs/sidebars/orderCalculator %>
            <% include ./ejs/sidebars/transactionDetails %>
            <% include ./ejs/sidebars/newTransaction %>
            <% include ./ejs/sidebars/editRecipe %>
            <% include ./ejs/sidebars/orderFilter %>
            <% include ./ejs/sidebars/transactionFilter %>
        </div>

        <% include ../shared/loader %>
        <% include ./modal %>

        <script src="https://unpkg.com/ml5@latest/dist/ml5.min.js"></script>
        <script>
            let data = {
                merchant: <%- JSON.stringify(merchant) %>,
                transactions: <%- JSON.stringify(transactions) %>
            }
        </script>
        <script src="./dashboardPage/bundle.js"></script>

        <noscript>Please turn on javascript for this site to work properly</noscript>
    </body>
</html>