<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/dashboardPage/dashboard.css">
        <link rel="stylesheet" href="/dashboardPage/components/components.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <% include ./components/menu %>

        <div class="contentBlock">
            <% include ../shared/banner %>
            
            <div id="homeStrand" class="strand">
                <h1 class="strandTitle">Dashboard</h1>

                <div class="flexRow">
                    <div id="revenueCard" class="card">
                        <p>Total Revenue (month)</p>

                        <p id="revenue"></p>

                        <div id="revenueChange">
                            <img alt="revenue">

                            <p></p>
                        </div>
                    </div>

                    <div id="graphCard" class="card">
                        <canvas id="graphCanvas">
                    </div>
                </div>

                <div class="flexRow">
                    <div id="inventoryCheckCard" class="card">
                        <p>Inventory Check</p>

                        <ul></ul>

                        <button class="button" onclick="homeStrandObj.submitInventoryCheck()">Update</button>
                    </div>

                    <div id=popularIngredientsCard class="card">
                        <p>Most Popular Ingredients (month)</p>

                        <canvas id="popularCanvas"></canvas>
                    </div>
                </div>

                <template id="ingredientCheck">
                    <li class="ingredientCheck flexRow">
                        <p></p>

                        <div class="numberInput">
                            <button>-</button>
                            <input type="number">
                            <button>+</button>
                        </div>
                        
                        <p></p>
                    </li>
                </template>
            </div>

            <div id="ingredientsStrand" class="strand">
                <div class="strandHead">
                    <h1 class="strandTitle">Ingredient Inventory</h1>

                    <button class="button" onclick="addIngredientsComp.display()">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        add
                    </button>
                </div>

                <div class="searchBar">
                    <div class="searchAndIcon">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        <input id="ingredientSearch" type="text" placeholder="FILTER" oninput="ingredientsStrandObj.search()">
                    </div>

                    <button id="ingredientClearButton" class="clearButton" onclick="ingredientsStrandObj.clearSorting()" style="display: none;">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="15" y1="9" x2="9" y2="15"></line>
                            <line x1="9" y1="9" x2="15" y2="15"></line>
                        </svg>
                    </button>

                    <select id="ingredientSelect" onchange="ingredientsStrandObj.sort(this.value)">Sort Bys:
                        <option value="" selected disabled>Sort By:</option>
                        <option value="_name">Ingredient</option>
                        <option value="category">Category</option>
                        <option value="unit">Unit of Measurement</option>
                    </select>
                </div>

                <div id="categoryList"></div>

                <template id="categoryDiv">
                    <div class="categoryDiv">
                        <div>
                            <p></p>

                            <button>
                                <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </button>
                        </div>

                        <div class="ingredientsDiv"></div>
                    </div>
                </template>

                <template id="ingredient">
                    <div class="ingredient">
                        <p></p>

                        <hr class="ingredientSpacer">

                        <p></p>
                    </div>
                </template>
            </div>

            <div id="recipeBookStrand" class="strand">
                <div class="strandHead">
                    <h1 class="strandTitle">Recipe Book</h1>

                    <% if(merchant.pos === "none"){ %>
                        <button class="button" onclick="recipeBookStrandObj.displayAddRecipe()">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            add
                        </button>
                    <% } %>
                </div>

                <div id="recipeList"></div>
            </div>

            <div id="ordersStrand" class="strand">
                <div class="strandHead">
                    <h1 class="strandTitle">Orders</h1>

                    <button class="button" onclick="newOrderComp.display()">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        add
                    </button>
                </div>

                <div id="orderList"></div>

                <template id="order">
                    <div class="rowItem">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </template>
            </div>
        </div>

        <div id="sidebarDiv" class="sidebarHide">
            <% include ./components/addIngredients %>

            <% include ./components/newIngredient %>

            <% include ./components/ingredientDetails %>

            <% include ./components/recipeDetails %>

            <% include ./components/addRecipe %>

            <% include ./components/orderDetails %>

            <% include ./components/newOrder %>
        </div>

        <script>let merchant = <%- JSON.stringify(merchant) %>;</script>
        <script>let transactions = <%- JSON.stringify(transactions) %>;</script>
        <script src="../shared/graphs.js"></script>
        <script src="/dashboardPage/home.js"></script>
        <script src="/dashboardPage/ingredients.js"></script>
        <script src="/dashboardPage/recipeBook.js"></script>
        <script src="/dashboardPage/components/components.js"></script>
        <script src="/dashboardPage/controller.js"></script>
        <script src="/dashboardPage/orders.js"></script>
        <script src="../shared/validation.js"></script>

        <noscript>Please turn on javascript for this site to work properly</noscript>
    </body>
</html>