<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/dashboardPage/dashboard.css">
        <link rel="stylesheet" href="/shared/menu.css">
    </head>
    <body>
        <% include ../shared/menu %>

        <div class="contentBlock">
            <div id="homeStrand" class="strand">
                <h1>Dashboard</h1>

                <div class="flexRow">
                    <div class="flexColumn">
                        <div class="card">
                            <h4>Total Revenue (month)</h4>
                            <p id="revenue"></p>
                        </div>

                        <div class="card">
                            <p>Some Text</p>
                            <p>Some more text</p>
                        </div>
                    </div>

                    <div>right-hand</div>
                </div>

                <div>Row 2</div>
            </div>

            <div id="ingredientsStrand" class="strand">
                <h1>Ingredient strand</h1>
            </div>

            <div id="recipeBookStrand" class="strand">
                <h1>Recipe book strand</h1>
            </div>

            <div id="ordersStrand" class="strand">
                <h1>Orders Strand</h1>
            </div>
        </div>

        <script>let merchant = <%- JSON.stringify(merchant) %>;</script>
        <script src="../shared/controller.js"></script>
        <script src="/dashboardPage/home.js"></script>
    </body>
</html>