<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/dashboardPage/dashboard.css">
        <link rel="stylesheet" href="/dashboardPage/components/components.css">
        <link rel="stylesheet" href="/shared/menu.css">
    </head>
    <body>
        <% include ../shared/menu %>

        <div class="contentBlock">
            <% include ../shared/banner %>
            
            <div id="homeStrand" class="strand">
                <h1>Dashboard</h1>

                <div class="flexRow">
                    <div class="flexColumn">
                        <div id="revenueCard" class="card">
                            <p>Total Revenue (month)</p>

                            <p id="revenue"></p>

                            <div id="revenueChange">
                                <img alt="revenue">

                                <p></p>
                            </div>
                        </div>
                    </div>

                    <div id="graphCard" class="card">
                        <canvas id="graphCanvas">
                    </div>
                </div>

                <div class="flexRow">
                    <div id="inventoryCheckCard" class="card">
                        <p>Inventory Check</p>

                        <ul></ul>

                        <button class="button" onclick="homeStrandObj.updateInventory()">Update</button>
                    </div>

                    <div id=popularIngredientsCard class="card">
                        <p>Most Popular Ingredients</p>

                        <canvas id="popularCanvas"></canvas>
                    </div>
                </div>
            </div>

            <div id="ingredientsStrand" class="strand">
                <div id="ingredientHead">
                    <h1>Ingredient Inventory</h1>

                    <button class="button" onclick="ingredientsStrandObj.toggleAddIngredient()">
                        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                        add
                    </button>
                </div>
            </div>

            <div id="recipeBookStrand" class="strand">
                <h1>Recipe book strand</h1>
            </div>

            <div id="ordersStrand" class="strand">
                <h1>Orders Strand</h1>
            </div>
        </div>

        <% include ./components/addIngredient %>

        <script>let merchant = <%- JSON.stringify(merchant) %>;</script>
        <script>let transactions = <%- JSON.stringify(transactions) %>;</script>
        <script src="../shared/graphs.js"></script>
        <script src="/dashboardPage/home.js"></script>
        <script src="/dashboardPage/ingredients.js"></script>
        <script src="/dashboardPage/controller.js"></script>
    </body>
</html>