<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/dashboardPage/dashboard.css">
        <link rel="stylesheet" href="/dashboardPage/sidebars/sidebars.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="menu">
            <div id="max" class="menuHead">
                <a href="/">
                    <img class="menuLogo" src="/shared/images/logo.png" alt="The Subline">
                    <p>The Subline</p>
                </a>
        
                <button onclick="changeMenu()">&#8801;</button>
            </div>
        
            <div id="min" class="menuHead menuHeadMin">
                <a href="/">
                    <img class="menuLogoMin" src="/shared/images/logo.png" alt="The Subline">
                </a>
        
                <button onclick="changeMenu()">&#8801;</button>
            </div>
        
            <button id="homeBtn" class="active" onclick="changeStrand('homeStrand')">
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M3 9l9-7 9 7v11a2 2 0 0 1-2 2H5a2 2 0 0 1-2-2z"></path>
                    <polyline points="9 22 9 12 15 12 15 22"></polyline>
                </svg>
                <p>Home</p>
            </button>
        
            <button id="ingredientsBtn" onclick="changeStrand('ingredientsStrand')">
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="21 8 21 21 3 21 3 8"></polyline>
                    <rect x="1" y="3" width="22" height="5"></rect>
                    <line x1="10" y1="12" x2="14" y2="12"></line>
                </svg>
                <p>Ingredients</p>
            </button>
        
            <button id="recipeBookBtn" onclick="changeStrand('recipeBookStrand')">
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M4 19.5A2.5 2.5 0 0 1 6.5 17H20"></path>
                    <path d="M6.5 2H20v20H6.5A2.5 2.5 0 0 1 4 19.5v-15A2.5 2.5 0 0 1 6.5 2z"></path>
                </svg>
                <p>Recipe Book</p>
            </button>
        
            <button id="ordersBtn" onclick="changeStrand('ordersStrand')">
                <svg width="25" height="25" viewBox="0 0 24 24" fill="none" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <circle cx="9" cy="21" r="1"></circle>
                    <circle cx="20" cy="21" r="1"></circle>
                    <path d="M1 1h4l2.68 13.39a2 2 0 0 0 2 1.61h9.72a2 2 0 0 0 2-1.61L23 6H6"></path>
                </svg>
                <p>Orders</p>
            </button>
        
            <a class="logout" href="/logout">
                <p>Logout</p>
        
                <svg width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
                    <polyline points="16 17 21 12 16 7"></polyline>
                    <line x1="21" y1="12" x2="9" y2="12"></line>
                </svg>
            </a>
        </div>

        <div class="contentBlock">
            <% include ../shared/banner %>
            
            <div id="homeStrand" class="strand">
                <h1 class="strandTitle">Dashboard</h1>

                <div class="flexRow">
                    <div id="revenueCard" class="card">
                        <p>Total Revenue (month)</p>

                        <p id="revenue"></p>

                        <div id="revenueChange">
                            <img alt="revenue">

                            <p></p>
                        </div>
                    </div>

                    <div id="graphCard" class="card">
                        <canvas id="graphCanvas">
                    </div>
                </div>

                <div class="flexRow">
                    <div id="inventoryCheckCard" class="card">
                        <p>Inventory Check</p>

                        <ul></ul>

                        <button class="button" onclick="homeStrandObj.submitInventoryCheck()">Update</button>
                    </div>

                    <div id=popularIngredientsCard class="card">
                        <p>Most Popular Ingredients (month)</p>

                        <canvas id="popularCanvas"></canvas>
                    </div>
                </div>

                <template id="ingredientCheck">
                    <li class="ingredientCheck flexRow">
                        <p></p>

                        <div class="numberInput">
                            <button>-</button>
                            <input type="number" min="0" step="0.01">
                            <button>+</button>
                        </div>
                        
                        <p></p>
                    </li>
                </template>
            </div>

            <div id="ingredientsStrand" class="strand">
                <div class="strandHead">
                    <h1 class="strandTitle">Ingredient Inventory</h1>

                    <button class="button" onclick="addIngredientsComp.display()">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        add
                    </button>
                </div>

                <div class="searchBar">
                    <div class="searchAndIcon">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        <input id="ingredientSearch" type="text" placeholder="FILTER" oninput="ingredientsStrandObj.search()">
                    </div>

                    <button id="ingredientClearButton" class="clearButton" onclick="ingredientsStrandObj.clearSorting()" style="display: none;">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="15" y1="9" x2="9" y2="15"></line>
                            <line x1="9" y1="9" x2="15" y2="15"></line>
                        </svg>
                    </button>

                    <select id="ingredientSelect" onchange="ingredientsStrandObj.sort(this.value)">Sort Bys:
                        <option value="" selected disabled>Sort By:</option>
                        <option value="_name">Ingredient</option>
                        <option value="category">Category</option>
                        <option value="unit">Unit of Measurement</option>
                    </select>
                </div>

                <div id="categoryList"></div>

                <template id="categoryDiv">
                    <div class="categoryDiv">
                        <div>
                            <p></p>

                            <button>
                                <svg width="32" height="32" viewBox="0 0 24 24" fill="none" stroke="black" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                                    <polyline points="6 9 12 15 18 9"></polyline>
                                </svg>
                            </button>
                        </div>

                        <div class="ingredientsDiv"></div>
                    </div>
                </template>

                <template id="ingredient">
                    <div class="ingredient">
                        <p></p>

                        <hr class="ingredientSpacer">

                        <p></p>
                    </div>
                </template>
            </div>

            <div id="recipeBookStrand" class="strand">
                <div class="strandHead">
                    <h1 class="strandTitle">Recipe Book</h1>

                    <% if(merchant.pos === "none"){ %>
                        <button class="button" onclick="newRecipeComp.display()">
                            <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"><line x1="12" y1="5" x2="12" y2="19"></line><line x1="5" y1="12" x2="19" y2="12"></line></svg>
                            add
                        </button>
                    <% } %>
                </div>

                <div class="searchBar">
                    <div class="searchAndIcon">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="11" cy="11" r="8"></circle>
                            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
                        </svg>
                        <input id="recipeSearch" type="text" placeholder="FILTER" oninput="recipeBookStrandObj.search()">
                    </div>

                    <button id="recipeClearButton" class="clearButton" onclick="recipeBookStrandObj.clearSorting()" style="display: none;">
                        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <circle cx="12" cy="12" r="10"></circle>
                            <line x1="15" y1="9" x2="9" y2="15"></line>
                            <line x1="9" y1="9" x2="15" y2="15"></line>
                        </svg>
                    </button>
                </div>

                <div id="recipeList"></div>

                <template id="recipe">
                    <div class="itemDisplay">
                        <p></p>
                        <p></p>
                    </div>
                </template>
            </div>

            <div id="ordersStrand" class="strand">
                <div class="strandHead">
                    <h1 class="strandTitle">Orders</h1>

                    <button class="button" onclick="newOrderComp.display()">
                        <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                            <line x1="12" y1="5" x2="12" y2="19"></line>
                            <line x1="5" y1="12" x2="19" y2="12"></line>
                        </svg>
                        add
                    </button>
                </div>

                <div id="orderList"></div>

                <template id="order">
                    <div class="itemDisplay">
                        <p></p>
                        <p></p>
                        <p></p>
                        <p></p>
                    </div>
                </template>
            </div>
        </div>

        <div id="sidebarDiv" class="sidebarHide">
            <% include ./sidebars/addIngredients %>

            <% include ./sidebars/newIngredient %>

            <% include ./sidebars/ingredientDetails %>

            <% include ./sidebars/recipeDetails %>

            <% include ./sidebars/addRecipe %>

            <% include ./sidebars/orderDetails %>

            <% include ./sidebars/newOrder %>
        </div>

        <% include ../shared/loader %>

        <script src="/dashboardPage/Merchant.js"></script>
        <script>
            let merchant = new Merchant(
                <%- JSON.stringify(merchant) %>,
                <%- JSON.stringify(transactions) %>
            );
        </script>
        <script src="../shared/graphs.js"></script>
        <script src="/dashboardPage/home.js"></script>
        <script src="/dashboardPage/ingredients.js"></script>
        <script src="/dashboardPage/recipeBook.js"></script>
        <script src="/dashboardPage/sidebars/sidebars.js"></script>
        <script src="/dashboardPage/controller.js"></script>
        <script src="/dashboardPage/orders.js"></script>
        <script src="../shared/validation.js"></script>

        <noscript>Please turn on javascript for this site to work properly</noscript>
    </body>
</html>