<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/dashboardPage/dashboard.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <h1>Dashboard</h1>

        <script>let merchant = <%- JSON.stringify(merchant) %>;</script>
    </body>
</html>