<div id="modal" class="modal">
    <form id="modalSpreadsheetUpload" class="modalSpreadsheetUpload" method="post">
        <h3>Choose a file to upload your <span id="modalSpreadsheetTitle">ingredients</span></h3>
        <input id="spreadsheetInput" class="fileUpload" name="file" type="file">
        <input type="hidden" name="type">
        <input class="button" type="submit" value="SUBMIT">
    </form>
</div>