/* Menu */
.menu{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    background: rgb(0, 27, 45);
    width: 18vw;
    height: 100vh;
    transition: width 0.3s;
    flex-grow: 0;
    flex-shrink: 0;
    padding-bottom: 25px;
    box-sizing: border-box;
}

    .menuHead{
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
        padding: 0 20px;
        margin-top: 10px;
        font-size: 22px;
        font-weight: bold;
        text-decoration: none;
    }

    .menuLogo{
        width: 25%;
        height: 25%;
    }

    .menuHead a{
        display: flex;
        align-items: center;
        color: rgb(255, 99, 107);
        text-decoration: none;
        width: 80%;
    }

    .menuHead p{
        margin-left: 25px;
    }

    .menuHead button{
        background: none;
        border-style: none;
        color: rgb(255, 99, 107);
        font-size: 35px;
        cursor: pointer;
        outline: none;
    }

    .menuHead button:hover{
        color: rgb(201, 201, 201);
    }

    .menuHead > button::-moz-focus-inner{
        border: 0;
    }

    #menuLocationName{
        color: white;
        font-size: 22px;
        font-weight: bold;
    }

    .menuButton{
        display: flex;
        align-items: center;
        background: none;
        border-style: none;
        color: rgb(255, 99, 107);
        font-size: 18px;
        margin: 15px 0;
        padding-left: 15px;
        width: 100%;
        height: 75px;
        cursor: pointer;
        text-align: left;
        border: 0;
        outline: 0;
        box-sizing: border-box;
        text-decoration: none;
    }

        .menuButton svg{
            margin-right: 25px;
        }

        .menuButton::-moz-focus-inner{
            border: 0;
        }  

        .menuButton:hover{
            background: rgb(179, 191, 209);
        }

    .menu > .active{
        background: rgb(240, 252, 255);
        cursor: default;
    }

    .menu > .active:hover{
        background: rgb(240, 252, 255);
    }

/* Minimized menu */
.menuMinimized{
    width: 5vw;
}

.menuLogoMin{
    width: 4vw;
}

.menuHeadMin{
    display: none;
    flex-direction: column;
}

.menuMinimized .menuButton{
    justify-content: center;
    padding: 0;
}

.menuMinimized .menuButton svg{
    margin: 0;
}

.sidebarButton{
    display: initial;
    background: rgb(179, 191, 209);
    border: none;
    text-decoration: none;
    padding: 10px 25px;
    color: rgb(255, 99, 107);
    cursor: pointer;
    text-align: center;
    font-size: 15px;
    min-width: 100px;
    margin: 5px;
    max-height: 52px;
}

    .sidebarButton:hover{
        background: rgb(240, 252, 255);
    }

    .sidebarButton:active{
        background: rgb(0, 27, 45);
    }

.sidebar{
    display: flex;
    width: 25vw;
    height: 100vh;
    box-sizing: border-box;
    padding: 25px;
    transition: width 0.2s;
    overflow: hidden;
    background: rgb(0, 27, 45);
    color: rgb(255, 99, 107);
}

.sidebarWide{
    width: 40vw;
}

.sidebarHide{
    width: 0;
    transition: width 0.2s;
    margin: 0;
    padding: 0;
    overflow: hidden;
    box-shadow: -1px 0px 10px gray;
}

    .sidebarHide > *{
        width: 0;
        transition: width 0.2s;
        visibility: hidden;
    }

.sidebarIconButtons{
    display: flex;
    justify-content: space-between;
    width: 100%;
    margin-bottom: 10px;
}

.iconButton{
    display: flex;
    align-items: center;
    background: none;
    border: none;
    cursor: pointer;
    padding: 3px;
    color: rgb(255, 99, 107);
}

    .iconButton:hover{
        background: rgb(0, 27, 45);
        color: white;
    }

.lineBorder{
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 25px;
}

.menuLinks{
    display: flex;
    justify-content: space-between;
    width: 75%;
}

    .menuLinks > *{
        background: none;
        border: none;
        color: white;
        text-decoration: underline;
        font-size: 16px;
        cursor: pointer;
    }

/* 
Ingredient Details 
*/
#ingredientDetails{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    #ingredientDetails label{
        font-size: 20px;
        text-align: center;
        margin: 0;
    }

    #ingredientDetails label p{
        font-size: 30px;
        font-weight: bold;
        padding: 10px;
    }

    #ingredientRecipeList{
        display: flex;
        flex-direction: column;
        align-items: center;
        text-align: center;
        list-style: none;
        overflow: auto;
        max-height: 150px;
        width: 75%;
    }

/*
EDIT INGREDIENT
*/
#editIngredient{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    #editIngredient label{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .unitbuttons{
        width: 100%;
        display: flex;
        justify-content: space-around;
    }

        .unitButton{
            margin: 5px;
            padding: 5px;
            background: rgb(179, 191, 209);
            border: none;
            font-size: 15px;
            font-weight: bold;
            cursor: pointer;
            color: rgb(255, 99, 107);
        }

            .unitButton:hover{
                background: rgb(240, 252, 255);
            }

            .unitActive{
                /* background: rgb(255, 99, 107); */
                background: rgb(0, 27, 45);
            }

                .unitActive:hover{
                    background: rgb(0, 27, 45);
                    cursor: default;
                }

/* 
Recipe Details 
*/
#recipeDetails{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    #recipeIngredientList{
        width: 100%;
    }

    #recipePrice{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #recipePrice p{
            font-size: 25px;
            font-weight: bold;
        }

/*
Add Recipe
*/
#addRecipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

    .recipeBasicInfo{
        width: 75%;
        background: rgb(240, 252, 255);
        padding: 15px;
        border-radius: 5px;
        border: 1px solid black;
    }

        .recipeBasicInfo label{
            display: flex;
            justify-content: space-between;
            margin: 15px 0;
        }

        .recipeBasicInfo input{
            width: 50%;
        }

    #addRecipe h2{
        margin-top: 10px;
    }

    #recipeInputIngredients{
        display: flex;
        flex-direction: column;
        align-items: center;
        box-sizing: border-box;
        margin: 0 0 25px 0;
        width:100%;
        overflow-y: auto;
        overflow-x: hidden;
        box-shadow: 0 0 2px gray;
        border-radius: 5px;
    }

        #recipeInputIngredients div{
            width: 75%;
            background: rgb(240, 252, 255);
            border: 1px solid black;
            padding: 10px;
            border-radius: 5px;
            margin: 10px 0;
            padding: 10px 15px;
            text-align: center;
        }

            #recipeInputIngredients div > label{
                display: flex;
                justify-content: space-between;
                margin-bottom: 2px;
            }

            #recipeInputIngredients input{
                width: 100px;
            }

            #recipeInputIngredients div h4{
                color: rgb(255, 99, 107);
            }

/*
EDIT RECIPE
*/
#editRecipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    #editRecipeIngList{
        width: 100%;
        max-height: 75%;
        overflow-y: auto;
    }

        .editRecipeIng{
            background: rgb(0, 27, 45);
            color: white;
            width: 90%;
            border-radius: 5px;
            text-align: center;
            padding: 5px;
            margin: 5px auto;
            position: relative;
        }

            .editRecipeIng button{
                position: absolute;
                right: 5px;
            }

/* New Order */
#newOrderIngredientList{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 40%;
}

    .newOrderLabels{
        display: flex;
        flex-direction: column;
        width: 100%;
        margin-bottom: 25px;
    }

        .newOrderLabels label{
            display: flex;
            justify-content: space-between;
            align-items: center;
            font-size: 15px;
            margin: 10px 0;
        }

        .newOrderLabels input{
            width: 50%;
        }

    #newOrderIngredients{
        display: flex;
        flex-direction: column;
        width: 90%;
        overflow-y: auto;
    }

        #newOrderIngredients .choosable{
            background: rgb(240, 252, 255);
            justify-content: left;
        }

            #newOrderIngredients .choosable:hover{
                background: rgb(179, 191, 209);
            }
#newOrder{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 60%;
    border-left: 1px solid black;
    padding-left: 25px;
}

    #newOrder > label{
        margin: 5px;
    }

    #selectedIngredientList{
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 75%;
        overflow-y: auto;
        margin-bottom: 10px;
    }

        .selectedIngredient{
            display: flex;
            flex-direction: column;
            background: rgb(0, 27, 45);
            color: white;
            margin: 5px 0;
            width: 95%;
        }

            .selectedIngredient > div{
                margin: 3px;
                display: flex;
                justify-content: space-between;
                align-items: center
            }

                .selectedIngredient p{
                    font-weight: bold;
                    font-size: 17px;
                }

                .newOrderRemove{
                    background: rgb(0, 27, 45);
                    border: 1px solid white;
                    color: white;
                    font-size: 13px;
                    font-weight: bold;
                    padding: 5px;
                    cursor: pointer;
                }

                    .newOrderRemove:hover{
                        background: rgb(201, 201, 201);
                        color: black;
                    }

                .selectedIngredient input{
                    width: 45%;
                }

/* New Ingredient */
#newIngredient{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    #newIngredient label{
        display: flex;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        background: white;
        padding: 10px;
        margin: 2px
    }

    #newIngredient .button{
        margin: 15px auto;
    }

    #newIngredient h2{
        text-align: center;
        margin-bottom: 25px;
    }

/* Order Details */
#orderDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    .orderDiv{
        width: 50%;
    }

        .subOrderDiv{
            display: flex;
            justify-content: space-between;
        }

    #orderIngredients{
        width: 90%;
        overflow: auto;
    }

    #orderTotalPrice{
        display: flex;
        flex-direction: column;
        align-items: center;
        font-size: 25px;
        font-weight: bold;
    }

/*
ORDER FILTER
*/
#orderFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    .orderFilterDates{
        display: flex;
        flex-direction: column;
        width: 100%;
    }

    #orderFilterIngredients{
        width: 100%;
        max-height: 50%;
        overflow-y: auto;
    }

        #orderFilterIngredients .choosable{
            background: rgb(240, 252, 255);
            justify-content: left;
        }

            #orderFilterIngredients .choosable:hover{
                background: rgb(179, 191, 209);
            }

            #orderFilterIngredients .active{
                background: rgb(179, 191, 209);
            }

/*
ORDER CALCULATOR
*/
#orderCalculator{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    #orderCalculator > *{
        margin: 15px 0;
    }

/*
TRANSACTION DETAILS
*/
.transactionDetails{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    .transactionRecipes{
        width: 100%;
    }

    .totals{
        font-size: 25px;
        font-weight: bold;
    }

/*
TRANSACTION FILTER
*/
.transactionFilter{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    #transFilterRecipeList{
        width: 100%;
        max-height: 50%;
        overflow-y: auto;
    }

        #transFilterRecipeList .choosable{
            background:rgb(240, 252, 255);
            justify-content: left;
        }

        #transFilterRecipeList .choosable:hover{
            background: rgb(179, 191, 209);
        }

        #transFilterRecipeList .active{
            background:rgb(179, 191, 209);
        }
/*
NEW TRANSACTION
*/
.newTransaction{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    .newTransaction > h2{
        text-align: center;
    }

    .newTransactionRecipes{
        width: 100%;
        height: 90%;
        overflow-y: auto;
    }

    .newTransactionRecipe{
        display: flex;
        flex-direction: column;
        align-items: center;
        background: white;
        margin: 10px 0;
        padding: 5px 0;
        font-weight: bold;
        font-size: 17px;
    }

@media screen and (orientation: portrait){
    @media screen and (max-width: 1400px){
        .sidebar{
            width: 100vw;
            color: white;
        }

        .sidebarIconButtons{
            display: none;
        }

        /* MENU */
        #menu{
            display: none;
            width: 100vw;
            padding: 0;
        }
    
            .menuShifter{
                display: none;
            }

            .menuHead{
                justify-content: right;
                padding: 0;
                margin-bottom: 25px;
            }

                .menuHead a{
                    justify-content: center;
                    margin: auto;
                }


            .menuButton{
                padding-left: 0;
                justify-content: center;
                background: rgb(201, 201, 201);
                color: black;
                width: 90%;
                margin: 15px auto;
                box-shadow: 0 0 5px white;
            }

        /* ORDER CALCULATOR */
        #orderCalcBtn{
            display: none;
        }
    }

    @media screen and (min-width: 601px){
        .menuHead a p{
            font-size: 40px;
        }
    }
}

@media screen and (orientation: landscape){
    @media screen and (max-width: 1200px){
        .sidebar{
            width: 100vw;
            color: white;
            padding: 3px 15px;
        }

        .sidebarIconButtons{
            display: none;
        }

        /* MENU */
        #menu{
            display: none;
            width: 100vw;
            height: 100vh;
            padding: 0;
            flex-wrap: wrap;
            flex-direction: row;
            justify-content: space-around;
        }

            .menuShifter{
                display: none;
            }

            .menuHead{
                justify-content: center;
                padding: 0;
                margin-bottom: 0;
                height: 50px;
            }

                .menuHead a{
                    width: initial;
                    justify-content: center;
                }

                    .menuLogo{
                        max-height: 50px;
                        max-width: 50px;
                    }

                .menuButton{
                    width: 40%;
                    justify-content: center;
                    background: rgb(201, 201, 201);
                    color: black;
                    margin: 15px;
                    padding-left: 0;
                    box-shadow: 0 0 5px white;
                    height: 10vh;
                }
            
            /* ORDER CALCULATOR */
            #orderCalcBtn{
                display: none;
            }

            /* INGREDIENT DETAILS */
            #ingredientDetails > *{
                margin: 0;
            }

            #recipeListLabel, #ingredientRecipeList{
                display: none;
            }

            /* FILTER ORDERS */
            #orderFilter > *{
                margin: 0;
            }

            #orderFilter h1{
                padding: 0;
            }

            #filterOrderDateRange, #orderFilter .lineBorder{
                display: none;
            }

            .dateRange{
                padding-bottom: 3px;
            }

            #orderFilterSubmit{
                margin-top: 3px;
            }

            /* ORDER DETAILS */
            #orderIngredients{
                display: none;
            }

            /* TRANSACTION DETAILS */
            #transactionRecipesLabel, .transactionRecipes, #transactionDetails .lineBorder{
                display: none;
            }

            /* FILTER TRANSACTIONS */
            #transactionFilter > *{
                margin: 0;
            }

            #transactionFilterDateLabel{
                display: none;
            }

            #transactionFilter .dateRange{
                margin-bottom: 5px;
            }

            #transFilterSubmit{
                margin-top: 5px;
            }

        @media screen and (min-width: 1000px){
            .menuLogo{
                max-height: initial;
                max-width: 300px;
            }

            .menuHead a p{
                font-size: 35px;
            }

            #recipeListLabel, #ingredientRecipeList{
                display: flex;
            }

            /* ORDER FILTER */
            #orderFilterIngredients{
                max-height: 70%;
            }

            #orderFilterSubmit{
                margin-top: 15px;
            }

            /* ORDER DETAILS */
            #orderIngredients{
                display: flex;
                flex-direction: column;
            }

            /* TRANSACTION DETAILS */
            #transactionRecipesLabel, .transactionRecipes, #transactionDetails .lineBorder{
                display: flex;
                flex-direction: column;
            }

            /* TRANSACTION FILTER */
            #transFilterRecipeList{
                max-height: 70%;
            }
        }
    }
}