#addRecipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

    #recipeChoices{
        width: 40%;
    }

    #newRecipeData{
        width: 60%;
    }