#addRecipe{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 50px;
}

    /* #addRecipe .choosable{
        background: rgb(240, 252, 255);
    } */

    #newRecipeContent{
        display: flex;
        width: 100%;
        padding: 10px;
    }

        #recipeChoices{
            width: 40%;
            border-right: 1px solid rgb(255, 99, 107);
            height: 100%;
            overflow-y: auto;
            padding: 10px;
        }

        #newRecipeData{
            width: 60%;
            padding: 10px;
        }