#recipeDetails{
    flex-direction: column;
    align-items: center;
    width: 100%;
}

    #recipeName{
        padding: 0;
    }

    #recipeIngredientList{
        width: 100%;
    }

    #recipePrice{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

        #recipePrice p{
            font-size: 25px;
            font-weight: bold;
        }