#inventoryStrand{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #inventoryStrand > *{
        margin: 10px;
    }

    #inventoryStrand h1{
        font-size: 40px;
        margin: 40px;
    }

    #inventoryStrand span{
        color: rgb(255, 99, 107);
    }

    .options{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .options > *{
            margin: 10px;
        }

        #filter{
            max-height: 32px;
        }

#addIngredientStrand{
    display: none;
    flex-direction: column;
    align-items: center;
}

    #addIngredientStrand > *{
        margin: 25px;
    }

    .container{
        display: flex;
        justify-content: space-around;
    }

#enterTransactionsStrand{
    display: none;
    flex-direction: column;
    align-items: center;
}
    #enterTransactionsStrand > *{
        margin: 10px;
    }

#enterPurchaseStrand{
    display: none;
    flex-direction: column;
    align-items: center;
}

    #enterPurchaseStrand > *{
        margin: 10px;
    }

@media screen and (max-width: 600px){
    /* inventoryStrand */
    #inventoryStrand h1{
        font-size: 20px;
        text-align: center;
        margin: 5px;
    }

    .options{
        flex-direction: column;
    }

    .options > *{
        margin: 5px;
    }

    #inventoryStrand .button-small{
        font-size: 12px;
    }

    #inventoryStrand td, #inventoryStrand th{
        padding: 3px;
        font-size: 12px;
    }

    /* addIngredientStrand */
    .container{
        flex-direction: column;
    }

    #addIngredientStrand > *{
        margin: 10px;
    }
}