#title{
    font-size: 45px;
    color: rgb(255, 99, 107);
    text-align: center;
    margin-top: 25px;
}

/* Inventory Strand */
#inventoryStrand{
    flex-direction: column;
    align-items: center;
}

    #inventoryStrand > *{
        margin: 10px;
    }

    #inventoryStrand th{
        cursor: pointer;
    }

    .options{
        display: flex;
        justify-content: space-between;
        align-items: center;
    }

        .options > *{
            margin: 10px;
        }

        #filter{
            max-height: 32px;
        }

/* Recipes Strand */
#recipesStrand{
    flex-direction: column;
    align-items: center;
}

    #recipesStrand > *{
        margin: 15px;
    }

    #recipeUpdate{
        margin-bottom: 10px;
    }

    #recipesContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 25px;
    }

        .recipe-card{
            border: 2px solid rgb(255, 99, 107);
            box-shadow: 2px 2px 2px rgb(0, 27, 45);
            background: rgb(0, 27, 45);
            color: rgb(255, 99, 107);
            width: 20%;
            min-width: 200px;
            padding: 35px;
            margin: 25px;
            border-radius: 10px;
            cursor: pointer;
        }

            .recipe-card:hover{
                transform: translateY(-3px);
            }

            .empty-recipe{
                background: rgb(255, 99, 107);
                border: 2px solid rgb(0, 27, 45);
                color: rgb(0, 27, 45);
            }

/* Account Strand */
#accountStrand{
    flex-direction: column;
    align-items: center;
}

    #accountStrand label{
        display: flex;
    }

/* Add Ingredient Action */
#addIngredientAction{
    flex-direction: column;
    align-items: center;
}

    #addIngredientAction > *{
        margin: 25px;
    }

    .container{
        display: flex;
        justify-content: space-around;
    }

/* Enter Transactions Action */
#enterTransactionsAction{
    flex-direction: column;
    align-items: center;
}
    #enterTransactionsAction > *{
        margin: 10px;
    }

/* Enter Purchase Action */
#enterPurchaseAction{
    flex-direction: column;
    align-items: center;
}

    #enterPurchaseAction > *{
        margin: 10px;
    }

/* Single Recipe Action */
#singleRecipeAction{
    display: none;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

    #singleRecipeAction > *{
        margin: 15px;
    }

    #delRecipe{
        display: "none"
    }

@media screen and (max-width: 1000px){
    /* General use */
    body{
        text-align: center;
    }

    /* Single Recipe Action */
    #singleRecipeAction .buttonsDiv{
        font-size: 15px;
    }

    #singleRecipeAction input{
        max-width: 100px;
    }
}

@media screen and (max-width: 600px){
    /* Inventory Strand */
    #inventoryStrand h1{
        font-size: 20px;
        text-align: center;
        margin: 5px;
    }

    .options{
        flex-direction: column;
    }

    .options > *{
        margin: 5px;
    }

    #inventoryStrand .button-small{
        font-size: 12px;
    }

    #inventoryStrand td, #inventoryStrand th{
        padding: 3px;
        font-size: 12px;
    }

    /* addIngredientStrand */
    .container{
        flex-direction: column;
    }

    #addIngredientAction > *{
        margin: 10px;
    }
}