<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/inventoryPage/inventory.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div id="inventoryStrand">
            <h1><%= merchant.name %> inventory</h1>

            <a href="/recipes">View Recipes</a>

            <button onclick="addIngredientObj.display()">Add Ingredient</button>

            <% if(merchant.pos === "none"){ %>
                <button onclick="enterTransactionsObj.display()">Enter Transactions</button>
            <% } %>

            <input id="filter" onkeyup="inventoryObj.filter()" type="text" placeholder="Start typing to filter">

            <table>
                <thead>
                    <tr>
                        <th onclick="inventoryObj.sortIngredients('name')">Item</th>
                        <th onclick="inventoryObj.sortIngredients('category')">Category</th>
                        <th onclick="inventoryObj.sortIngredients('quantity')">Quantity</th>
                        <th onclick="inventoryObj.sortIngredients('unit')">Unit</th>
                        <th></th>
                    </tr>
                    <tbody></tbody>
                </thead>
            </table>
        </div>

        <div id="recipeStrand"></div>

        <div id="addIngredientStrand" class="add-ingredient">
            <button onclick="inventoryObj.display()">Back to Inventory</button>

            <form onsubmit="addIngredientObj.submitAdd()">
                <h2>Select Ingredient</h2>

                <label>Ingredient
                    <select id="addName"></select>
                </label>
                
                <label>Quantity
                    <input id="addQuantity" type="number" step="0.01" required>
                </label>
                
                <input type="submit" value="Add Ingredient">
            </form>

            <form onsubmit="addIngredientObj.submitNew()">
                <h2>Create New Ingredient</h2>

                <label>Name
                    <input id="newName" type="text" required>
                </label>

                <label>Category
                    <input id="newCategory" type="text" required>
                </label>

                <label>Unit
                    <input id="newUnit" type="text" required>
                </label>

                <label>Quantity
                    <input id="newQuantity" type="number" step="0.01" required>
                </label>

                <input type="submit" value="Create Ingredient">
            </form>
        </div>

        <div id="enterTransactionsStrand">
            <h1>Enter items sold since (Date)</h1>

            <table>
                <thead>
                    <tr>
                        <th>Recipe</th>
                        <th>Number sold</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <button onclick="enterTransactionsObj.submit()">Submit</button>
        </div>

        <script>let merchant = <%- JSON.stringify(merchant) %>;</script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../shared/validation.js"></script>
        <script src="/inventoryPage/inventory.js"></script>
        <script src="/inventoryPage/recipe.js"></script>
        <script src="/inventoryPage/addIngredient.js"></script>
        <script src="/inventoryPage/enterTransactions.js"></script>
        <script src="/inventoryPage/controller.js"></script>
    </body>
</html>