.header{
    display: flex;
    justify-content: space-between;
    background: #001b2d;
    width: 100%;
    height: 75px;
}

    .headerStart{
        display: flex;
        align-items:center;
        text-decoration: none;
        margin-left: 25px;
        width: 275px;
    }

        .headerStart img{
            max-height: 75%;
        }

        .headerLogo{
            color: white;
            font-size: 25px;
            margin-left: 10px;
        }

        .mobileHomeButton{
            display: none;
        }

    .headerEnd{
        display: flex;
        align-items: center;
        justify-content: flex-end;
        margin-right: 25px;
        
    }

        .headerEnd > *{
            margin-left: 20px;
        }

        .headerEnd a{
            color: rgb(255, 99, 107);
        }