<div id="accountStrand" class="strand">
    <div class="strandHead">
        <h1 id="accountStrandTitle" class="strandTitle"></h1>
    </div>

    <div class="settings">
        <div id="accountInformation" class="settingsSection">
            <div class="settingsSectionHeader">
                <h2>ACCOUNT INFORMATION</h2>
            </div>

            <div id="accountInformationData">
                <label>BUSINESS NAME:
                    <input id="accountOwnerName" type="text">
                </label>

                <label>EMAIL:
                    <input id="accountEmail" type="email">
                </label>

                <label>ADDRESS:
                    <input id="accountAddress" type="text">
                </label>

                <button id="accountUpdate" class="button">UPDATE</button>
            </div>
        </div>

        <div class="settingsSection">
            <div class="settingsSectionHeader">
                <h2>YOUR LOCATIONS</h2>

                <div class="newLocationButtons">
                    <h1>NEW:</h1>

                    <button id="settingsAddMerchant" class="button">CREATE</button>
                </div>
            </div>

            <div id="settingsMerchants"></div>
        </div>

        <div class="settingsSection">
            <div class="settingsSectionHeader">
                <h2>SECURITY</h2>
            </div>

            <div id="securityData">
                <button id="accountShowPassword" class="button">CHANGE PASSWORD</button>

                <div id="changePasswordBox"style="display:none;">
                    <label>CURRENT PASSWORD
                        <input id="accountCurrentPassword" type="password">
                    </label>

                    <label>NEW PASSWORD
                        <input id="accountNewPassword" type="password">
                    </label>

                    <label>CONFIRM NEW PASSWORD
                        <input id="accountConfirmPassword" type="password">
                    </label>

                    <div id="accountButtonBox" class="buttonBox">
                        <button id="cancelPasswordChange" class="button">CANCEL</button>

                        <button id="changePasswordButton" class="button">CHANGE PASSWORD</button>
                    </div>

                    <p>* This will log you out of all current sessions</p>
                </div>

                <a href="/session/end" class="button">LOG OUT OF ALL DEVICES</a>

                <button id="deleteMerchant" class="dangerButton">DELETE THIS MERCHANT</button>
            </div>
        </div>
    </div>
</div>