<div id="ordersStrand" class="strand">
    <div class="strandHead">
        <h1 class="strandTitle">ORDERS</h1>

        <div class="buttonBox">
            <button id="orderFilterBtn" class="button">FILTER</button>

            <button id="newOrderBtn" class="button">NEW</button>
        </div>
    </div>

    <div id="orderList"></div>

    <template id="order">
        <div class="choosable tall">
            <p></p>
            <p></p>
            <p></p>
            <p></p>
        </div>
    </template>
</div>