<div id="recipeBookStrand" class="strand">
    <div class="strandHead">
        <h1 class="strandTitle">RECIPE BOOK</h1>

        <div class="buttonBox">
            <label id="showHiddenRecipes" class="button">
                <input id="hiddenRecipesCheckbox" type="checkbox">
                SHOW HIDDEN
            </label>

            <button id="recipeUpdate" class="button mobileHide"></button>
        </div>
    </div>

    <div class="searchBar">
        <svg class="searchButton" width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="11" cy="11" r="8"></circle>
            <line x1="21" y1="21" x2="16.65" y2="16.65"></line>
        </svg>
        <input id="recipeSearch" class="searchInput" type="text" placeholder="SEARCH">
    </div>

    <div id="recipeList"></div>

    <template id="recipe">
        <div class="choosable tall">
            <p></p>
            <p></p>
        </div>
    </template>
</div>