<div id="transactionsStrand" class="strand transactions">
    <div class="strandHead">
        <h1 class="strandTitle">TRANSACTIONS</h1>

        <div class="buttonBox">
            <button id="filterTransactionsButton" class="button">FILTER</button>

            <button id="newTransactionButton" class="button mobileHide">NEW</button>
        </div>
    </div>

    <div id="transactionsList" class="transactionsList"></div>

    <template id="transaction">
        <div class="choosable tall">
            <p></p>
            <p></p>
            <p></p>
        </div>
    </template>
</div>