<div id="editRecipe">
    <div class="sidebarIconButtons">
        <button class="iconButton" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </button>
    </div>

    <label>NAME:
        <input id="editRecipeName" type="text">
    </label>
    
    <h1 id="editRecipeNoName"></h1>

    <h3>INGREDIENTS</h3>

    <div id="editRecipeIngList"></div>

    <button id="addRecIng" class="iconButton">
        <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
            <circle cx="12" cy="12" r="10"></circle>
            <line x1="12" y1="8" x2="12" y2="16"></line>
            <line x1="8" y1="12" x2="16" y2="12"></line>
        </svg>
    </button>

    <div class="lineBorder"></div>

    <h3>PRICE</h3>

    <input id="editRecipePrice" type="number" min="0" step="0.01">

    <div class="lineBorder"></div>

    <div class="buttonBox">
        <button id="editRecipeSubmit" class="button">UPDATE</button>
        <button id="editRecipeCancel" class="button">CANCEL</button>
    </div>

    <template id="editRecipeIng">
        <div class="editRecipeIng">
            <button class="iconButton">
                <svg width="20" height="20" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                </svg>
            </button>

            <p></p>

            <select></select>

            <input type="number" min="0" step="0.01">
        </div>
    </template>
</div>