<div id="newOrderIngredientList">
    <div class="sidebarIconButtons">
        <button class="iconButton" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </button>
    </div>

    <h1>INGREDIENTS</h1>

    <div id="newOrderIngredients"></div>
</div>

<div id="newOrder">
    <h1>NEW ORDER</h1>

    <label>NAME/ID:
        <input id="newOrderName" type="text">
    </label>

    <label>DATE:
        <input id="newOrderDate" type="date">
    </label>

    <label>TIME:
        <input id="newOrderTime" type="time">
    </label>

    <div id="selectedIngredientList"></div>

    <button id="submitNewOrder" class="button">CREATE</button>

    <template id="selectedIngredient">
        <div class="selectedIngredient">
            <div>
                <p></p>

                <button class="newOrderRemove">REMOVE</button>
            </div>
            

            <div>
                <input type="number" min="0" step="0.01" placeholder="QUANTITY">

                <input type="number" min="0" step="0.01" placeholder="TOTAL PRICE">
            </div>
        </div>
    </template>
</div>