<div id="orderCalculator">
    <div class="sidebarIconButtons mobileHide">
        <button class="iconButton" onclick="controller.closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </button>
    </div>

    <h1>ORDER CALCULATOR</h1>
</div>