<div id="transactionDetails" class="transactionDetails">
    <div class="sidebarIconButtons">
        <button class="iconButton" onclick="closeSidebar()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <line x1="5" y1="12" x2="19" y2="12"></line>
                <polyline points="12 5 19 12 12 19"></polyline>
            </svg>
        </button>

        <button class="iconButton" onclick="transactionDetailsComp.edit()">
            <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                <path d="M12 20h9"></path>
                <path d="M16.5 3.5a2.121 2.121 0 0 1 3 3L7 19l-4 1 1-4L16.5 3.5z"></path>
            </svg>
        </button>

        <% if(merchant.pos === "none"){ %>
            <button class="iconButton" onclick="transactionDetailsComp.remove()">
                <svg width="30" height="30" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round">
                    <polyline points="3 6 5 6 21 6"></polyline>
                    <path d="M19 6v14a2 2 0 0 1-2 2H7a2 2 0 0 1-2-2V6m3 0V4a2 2 0 0 1 2-2h4a2 2 0 0 1 2 2v2"></path>
                </svg>
            </button>
        <% } %>
    </div>

    <h1 id="transactionDate"></h1>
    <h2 id="transactionTime"></h2>

    <div class="lineBorder"></div>

    <h3>Recipes</h3>
    <div id="transactionRecipes" class="transactionRecipes"></div>

    <div class="lineBorder"></div>

    <h3>Totals</h3>
    <p id="totalRecipes" class="totals"></p>
    <p id="totalPrice" class="totals"></p>

    <template id="transactionRecipe">
        <div class="transactionRecipe smallItemDisplay">
            <p></p>
            <p></p>
            <p></p>
        </div>
    </template>
</div>