/* Legal Strand */
#legalStrand{
    border: 2px solid black;
    box-shadow: -5px -5px 5px rgb(0, 27, 45) inset;
    padding: 30px;
    text-align: justify;
    max-width: 800px;
    max-height: 65vh;
    overflow-y: auto;
}

    #legalStrand > *{
        margin: 15px;
    }

    ol{
        list-style: decimal inside none;
    }

        ol > *{
            margin: 10px;
        }

    #legalStrand .contactInfo{
        margin: 0 15px;
    }

    #legalStrand .last{
        margin-bottom: 35px;
    }