<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/passwordResetPages/style.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
    </head>
    <body>
        <form action="/reset/email" method="post">
            <h1>Enter your email:</h1>

            <input name="email" type="email" placeholder="email">

            <input type="submit" value="SEND EMAIL">

            <a href="/login">CANCEL</a>

            <p>*An email will be sent to you shortly with instructions on reseting your password. If you don't recieve an email with one minute, then try again.</p>
        </form>
    </body>
</html>