body{
    align-items: center;
}

.title{
    margin-top: 30px;
    font-size: 40px;
}

.form{
    border: none;
    background: none;
}

    .formInput{
       font-size: 30px;
       margin-bottom: 15px;
       text-align: center; 
    }

    .button{
        font-size: 25px;
        padding: 5px;
    }

.text{
    font-size: 20px;
    text-align: center;
}

@media screen and (max-width: 600px){
    .form{
        max-width: 90vw;
        padding: 0;
    }

        .email{
            font-size: 25px;
        }

        .button{
            font-size: 20px;
        }
}