<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/passwordResetPages/passwordReset.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
    </head>
    <body>
        <div class="header">
            <a class="headerStart" href="/" >
                <img src="/shared/images/logo.png" alt="Subline">
                <div class='headerLogo'>THE SUBLINE</div>
            </a>
        
            <div class="headerEnd">
                <a id="helpLink" class="headerHide" href="/help">HELP</a>
        
                <a id="privacyPolicyLink" class="headerHide" href="/privacy">PRIVACY POLICY</a>
        
                <a id="termsLink" class="headerHide" href="/terms">TERMS AND CONDITIONS</a>        
            </div>
        </div>

        <% if(banner !== undefined){ %>
            <% include ../shared/banner.ejs %>
        <% } %>

        <h1 class="title">Reset Password</h1>

        <form class="form" action="/reset" method="post">
            <input name="password" type="password" class="formInput" placeholder="password">

            <input name="confirmPassword" type="password" class="formInput" placeholder="confirm password">

            <input name="code" type="hidden" value="<%=code%>">

            <input name="id" type="hidden" value="<%=id%>">

            <input class="button" type="submit" value="RESET PASSWORD">
        </form>

        <script>
            setTimeout(()=>{
                let banner = document.getElementById("banner");
                if(banner !== null) banner.style.display = "none";
            }, 10000);
        </script>
    </body>
</html>