<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/informationPages/information.css">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet">
    </head>
    <body>
        <div class="header">
            <a class="headerStart" href="/" >
                <img src="/shared/images/logo.png" alt="Subline">
                <div class='headerLogo'>THE SUBLINE</div>
            </a>
        
            <div class="headerEnd">
                <a id="helpLink" class="headerHide" href="/help">HELP</a>
        
                <a id="privacyPolicyLink" class="headerHide" href="/privacy">PRIVACY POLICY</a>
        
                <a id="termsLink" class="headerHide" href="/terms">TERMS AND CONDITIONS</a>        
            </div>
        </div>

        <div class="content">
            <h1>The Subline, Terms and Conditions</h1>

            <h4>Last update: January 8, 2020</h4>

            <p>These terms and conditions specify the terms of the contract between The Subline and the Merchant Venue named in the Sign-Up Form (&quot;Merchant Venue&quot;), pursuant to which the Merchant Venue may use the The Subline service. If the Merchant Venue does not accept these terms and conditions (including following any amendment to these terms and conditions), the Merchant Venue must immediately cease use of the Service and notify The Subline in writing.</p>

            <p>By using the Service, the Merchant Venue agrees to be legally bound by the Agreement (as varied from time to time), and to comply with all The Subline policies, including the The Subline Privacy Policy (both of which are located at hazInut.com/privacy-policy/,</p>

            <p>1. General</p>

            <p>1.1 The Service provides an inventory management solution for food and beverage providers using Clover devices. Information and analysis provided by The Service is available on a personalized and private desktop browser-based dashboard.</p>

            <p>1.2 Much of the analysis completed by The Service is based on Merchant Information stored on Clover servers. After successful login (granted by Clover) to the Merchant Dashboard, The Service will pull information from the Clover servers, update the information, and display it to the Merchant.</p>

            <p>1.3 This Agreement specifies the terms on which The Subline makes available, and Customer will use, the Service.</p>

            <p>2. Definitions and Interpretation</p>

            <p>2.1 In this Agreement:</p>

            <p>&quot;Agreement&quot; means this Merchant Venue Agreement (as amended or updated from time to time), including the Subscription Plan and these terms and conditions.</p>

            <p>&quot;The Subline Service Fee&quot; means the monthly Fee payable by the Merchant Venue to The Subline for the Service as detailed in the Subscription Plan.</p>

            <p>&quot;HazInut Service Fee Start Date&quot; means the first date from which the The Subline Service Fee is charged to the Merchant Venue, as detailed in the Subscription Plan.</p>

            <p>&quot;Chargeback&quot; means a demand by a bank or other credit-card provider, or other provider of electronic payment facilities, for a merchant to make good the loss on a fraudulent or disputed transaction.</p>

            <p>&quot;Customer&quot; means anyone who communicates an Order, in person or using third-party applications to the Merchant Venue for the supply of Venue Products.</p>

            <p>&quot;Menu&quot; means a listing of Venue Products that the Merchant Venue will sell to Customers (including the price a Customer must pay to purchase each item of Venue Products) that The Subline will publish to, and process Orders from, Customers by means of the Service Portals.</p>

            <p>&quot;Order&quot; means an offer from a Customer to Merchant Venue to purchase Venue Products for the Order Price.</p>

            <p>&quot;Order Price&quot; means the price a Customer will pay to Merchant Venue for the supply of Venue Products (exclusive of GST and any other applicable taxes), which must be calculated in accordance with pricing specified on the Merchant Venue's Menu.</p>

            <p>&quot;Merchant Venue&quot; means an establishment that utilizes The Subline for Inventory Management.</p>

            <p>&quot;Merchant Venue Material&quot; includes any material in which Merchant Venue owns or holds intellectual property rights, or which commercially identifies, or can be used to commercially identify, the Merchant Venue, including its name, logos, trademarks, slogans, Menu, names of Venue Products, pricing and location.</p>

            <p>&quot;Point of Supply&quot; means the time and location at which Merchant Venue supplies Venue Products to a Customer, which may include the Merchant Venue's business premises (for Venue Products collected by the Customer).</p>

            <p>&ldquo;Merchant Purchase&rdquo; means any purchase a raw material (food, beverage, condiments, utensils, plates, etc) that the Merchant sells to the Customer as a routine part of the Merchant&rsquo;s business.</p>

            <p>&quot;Venue Products&quot; means any product that Merchant Venue supplies, or makes available for supply, to any Customer, including any type of food or beverage.</p>

            <p>&quot;Service&quot; means the provision of online facilities to enable Merchants to view real-time inventory status, Orders, Merchant Purchases and the analytics provided.</p>

            <p>&quot;Service Portals&quot; means facilities by which The Subline makes the Service available to Merchants from time to time.</p>

            <p>&quot;Sign Up Form&quot; means a document with the name, address and email of the Merchant Venue that is completed, usually at the time of the Merchant Venue agrees to use The Subline.</p>

            <p>&quot;Subscription Plan' means the terms of purchase agreed by Merchant Venue via the channel used to acquire The Subline including but not limited to The Subline recurring Fee, currency of the The Subline Service Fee and The Subline Service Fee start date.</p>

            <p>&quot;Other Conditions&quot; means any additional terms and conditions agreed to by a Merchant venue for services other than the standard ones, and via additional side agreements,</p>

            <p>2.2 In this Agreement:</p>

            <p>a. headings to and within clauses are for convenience and reference only and do not form a part of this Agreement and shall not in any way affect the interpretation of this Agreement;</p>

            <p>b. Words importing the singular include the plural and vice versa; and</p>

            <p>c. All monetary references are the currency detailed in the Subscription Plan otherwise specified.</p>

            <p>2.3 This Agreement incorporates any Other Conditions, and in the event of any inconsistency between any of these terms and conditions and any Other Conditions, the Other Conditions will prevail to the extent of the inconsistency.</p>

            <p>3. Service and availability</p>

            <p>3.1 The Subline is the owner and operator of the Service Portals. The Service Portals allows Merchants to monitor their inventory and receive information from The Service.</p>

            <p>3.2 The Subline reserves the right to provide the Services on other Service Portals in the future, without notice to the Merchant Venue.</p>

            <p>3.3 The Merchant Venue operates one or more Venue(s), at which the Venue Products are prepared and sold to the public.</p>

            <p>3.4 The Subline will:</p>

            <p>a. make the Service available for use by the public through the Service Portals;</p>

            <p>b. provide current Inventory counts based on information provided by the Merchant;</p>

            <p>3.5 The Merchant Venue acknowledges that The Subline has no responsibility for the fulfilment of Orders of Raw Materials or Ingredients; The Subline does not hold any Collected Payments.</p>

            <p>3.6 The Subline may without notice make changes to or temporarily suspend the operation of the Service Portals should The Subline deem this necessary.</p>

            <p>4. Obligations of The Subline</p>

            <p>4.1 Subject to clause 4.2 below, The Subline will:</p>

            <p>a. list the Merchant Venue and publish its Menu by means of the Service Portals;</p>

            <p>b_ communicate Orders to the Merchant Venue; and</p>

            <p>c. provide reporting on Orders processed via the service.</p>

            <p>4.2 The Subline will use reasonable endeavors to accurately display on the Service Portals information relevant for the Merchants provided by the Merchant or by POS services.</p>

            <p>4.3 The Subline will work with the Merchant to provide quality information and data that The Subline reasonably requires in order to supply the Service.</p>

            <p>5. Obligations of the Merchant Venue</p>

            <p>5.1 The Merchant Venue is responsible for ensuring that at all times it has a functional telephone and, where agreed with The Subline, a facsimile machine, or means of receiving electronic communication such as email, in order to provide updates to the Service.</p>

            <p>5.2 The Merchant Venue must as promptly as possible:</p>

            <p>a. review each Order communicated to it by The Subline;</p>

            <p>b. communicate Order Acceptance to Customers; and</p>

            <p>c. execute Orders promptly and in accordance with a Customer's reasonable expectations.</p>

            <p>5.3 The Merchant Venue acknowledges that:</p>

            <p>a. no contract exists, or at any time will exist, between The Subline and the Merchant for the supply of Raw Materials or Ingredients;</p>

            <p>b. that the sole and exclusive obligation to purchase Raw Materials and Inventory is owed by the Merchant Venue;</p>

            <p>c. the Merchant Venue indemnifies The Subline against any claim or demand made or cost, loss or liability suffered by the Merchant arising directly or indirectly from wasted or lost Raw Materials or Inventory;</p>

            <p>5.5 The Merchant Venue must ensure that the information it provides to The Subline is current and correct, including, but not limited to, its company and/or business name, address, contact telephone number, manager/contact person details, and other relevant information, and the Merchant Venue agrees that it:</p>

            <p>a. must immediately notify The Subline if any information it is required to supply in accordance with this clause changes or becomes inaccurate or incorrect; and</p>

            <p>b. will indemnify The Subline against any claim, loss, liability or damage arising out of any error or inaccuracy of, or any delay in notifying The Subline of any change to, any of the information it is required to supply in accordance with this clause.</p>

            <p>5.6 The Subline reserves the right to:</p>

            <p>a. regularly carry out inspections to ensure compliance with this clause 5; and</p>

            <p>b. immediately suspend or terminate (at The Subline's sole discretion) the supply of the Service if The Subline reasonably suspects the Merchant Venue has not complied with any requirement of this clause 5.</p>

            <p>6. License to use Merchant Venue Material</p>

            <p>6.1 The Merchant Venue grants to The Subline an unrestricted, Worldwide, royalty-free license during the term of this Agreement to use, Venue Products, modify and adapt all Merchant Venue Material for the purposes of:</p>

            <p>a. inclusion on the Service Portals and as may be otherwise required for the proper supply of the Services; and</p>

            <p>b. the general promotion of the Service and Merchant Venue, including without limitation:</p>

            <p>i. use of the Venue's Name for internet advertising purposes, including Google Adwords, to support advertising campaigns and domain registrations for the Service Portals and The Subline; and</p>

            <p>ii. subject to clause 6.4 or unless otherwise agreed in writing, the registration in the United States of America or any other jurisdiction of domain names incorporating any part of the Merchant Venue Material, or material similar to the Venue Material.</p>

            <p>iii. the right to register on google maps, google locations or any other third-party directory websites or services.</p>

            <p>6.2 For the avoidance of doubt, unless otherwise stated or the parties otherwise agreed in writing, the Merchant Venue acknowledges and agrees that, subject to clause 6.4, The Subline may use Merchant Venue Material to register a domain name and operate a website in such a way that a Customer may reasonably assume such website is operated by or on behalf of the Merchant Venue, including by using a domain name the same or similar to the business name of the Merchant Venue and diverting website traffic to a Service Portal, and the Merchant Venue explicitly authorizes the operating of such website by The Subline for the purpose of promoting the sale of Venue</p>

            <p>Products using the Service.</p>

            <p>6.3 Any material the Merchant Venue transmits or submits to The Subline either through the Service Portals or otherwise (&quot;Communicated Material'') shall be considered and may be treated by The Subline as non-confidential, subject to The Subline's obligations under relevant legislation. The Merchant Venue grants to The Subline a royalty-free, perpetual, irrevocable, non-exclusive license to use, copy, modify, adapt, translate, publish and distribute world-wide any Communicated Material for the purposes of providing services under this Agreement or to or for the purposes of advertising and promotion of the Service Portals. The Merchant Venue agrees that all information provided to The Subline that is published, may be relied upon and viewed by Customers to enable them to make decisions and form a legally binding contract with the Merchant Venue.</p>

            <p>7. Operational Information</p>

            <p>7.1 The Merchant Venue is responsible for updating/maintaining Recipes, Inventory Stores, and Inventory Purchases, and any other data inputs that the Service requires. If the Merchant has questions or requires clarification about the The Service, the Merchant must reach out to The Subline for assistance.</p>

            <p>8. Payment</p>

            <p>8.1 The Merchant Venue must pay The Subline the &ldquo;The Subline Service Fee&rdquo; set out in the Subscription Plan.</p>

            <p>8.2 The Subline Service Fee be payable on a monthly basis starting from the &ldquo;The Subline Service Fee&rdquo; Start Date.</p>

            <p>8.3 The merchant venue agrees to provide payment details to The Subline or the channel via which The Subline services was signed up, for direct deduction of all necessary The Subline Service Fees.</p>

            <p>9. Confidentiality</p>

            <p>9.1 A party will not, except with the written consent of the other party or where required to do so by law or stock exchange regulation, disclose any confidential information of the other party.</p>

            <p>9.2 Confidential information of The Subline includes without limitation its business strategies, pricing, revenues, expenses, and order information.</p>

            <p>9.3 Both parties agree to treat as strictly confidential the contents of the Subscription Plan and all other information, data and facts that may be shared between both parties during the course of this Agreement.</p>

            <p>10. Warranty and Indemnity</p>

            <p>10.1 The Merchant Venue warrants that if the Merchant Venue ceases business, closes operations for a material period or is otherwise unable to offer Venue Products to Customers or to satisfy any obligation to Customers, Merchant Venue will immediately inform The Subline.</p>

            <p>10.2 The Subline does not guarantee or warrant that the Service Portals, software, hardware or services will be free from defects or malfunctions. If errors occur, The Subline will use its best endeavors to resolve these as quickly as possible.</p>

            <p>10.3 The Merchant Venue indemnifies and holds harmless The Subline (and its directors, officers, agents, representatives and employees) from and against any and all claims, suits, liabilities, judgments, losses and damages arising out of or in connection with any claim or suit or demand:</p>

            <p>a. arising from any failure to provide notice in accordance with clause 10.1;</p>

            <p>b. by a Customer (or any party on whose behalf a Customer has been acting) in respect of, arising out of, or in connection with, Services;</p>

            <p>c. in any way associated with Venue Products;</p>

            <p>d. compliance with food quality laws or regulations; or</p>

            <p>e. any relevant liquor licensing laws or regulations, except and to the extent any liability, loss or damage arises from the reckless or malicious act or omission of The Subline.</p>

            <p>11. Term and Termination</p>

            <p>11.1 This Agreement starts on the date the Merchant Venue downloads the The Subline Venue Application and accepts these terms and unless terminated earlier under this clause will continue indefinitely.</p>

            <p>11.2 Either party may terminate this Agreement for convenience without giving cause at any time upon 10 days prior written notice to the other party. Following any such termination for convenience:</p>

            <p>a. the Merchant Venue's obligations under this Agreement will continue until the end of the month during which notice is given; and</p>

            <p>b. the Merchant Venue's online listing and promotion undertaken by The Subline will be ceased as soon as is practicable.</p>

            <p>11.3 The Subline may terminate this Agreement, with immediate effect if the Merchant Venue:</p>

            <p>a. provides any inaccurate information about its business to The Subline, such as inaccurate information relating to opening hours, delivery areas, delivery terms or prices;</p>

            <p>b. fails to deliver an Accepted Order to any Customer (except where the Merchant Venue demonstrates it reasonably believed the Accepted Order was fraudulent or the Customer did not intend to, or refused to pay, the Order Price); or</p>

            <p>c. is subject to any event of insolvency (such as the appointment of an administrator, receiver or liquidator or fails to pay its debts as and when they fall due) or bankruptcy (such as having bankruptcy proceedings commenced against the Merchant Venue or being unable to pay any of its creditors).</p>

            <p>11.4 Either party may terminate this Agreement with immediate effect by notice in writing to the other party if the other party commits a material breach of this Agreement not capable of remedy, or in the case of a material breach capable of remedy, is not remedied within 3 business days after written notice is given to the breaching party, specifying the breach.</p>

            <p>11.5 Termination of this Agreement shall not affect the accrued rights or liabilities of the parties at the date of termination.</p>

            <p>12. Limitation of Liability</p>

            <p>12.1 Except for liability in relation to breach of any Non-excludable Condition and liability under clause 12.3, The Subline's total liability to the Merchant Venue in contract, including for one or more breaches of any express term or terms (including any indemnity) of this Agreement (in aggregate), tort (including in negligence), statute, or otherwise, is limited to an amount equal to the total amount of The Subline Service Fee paid by the Merchant Venue to The Subline under this Agreement during the 3 month period before the liability arose.</p>

            <p>12.2 The Subline's total liability to the Merchant Venue for a breach of any Non-excludable Condition (other than a Non-excludable Condition that by law cannot be limited) is limited, at The Subline's option to any one of resupplying, replacing or repairing, or paying the cost of resupplying, replacing or repairing the goods in respect of which the breach occurred, or supplying again or paying the cost of supplying again, the services in respect of which the breach occurred.</p>

            <p>12.3 Except for liability in relation to breach of any Non-excludable Condition, The Subline excludes all liability to the Merchant Venue for lost profits, lost revenue, lost savings, lost business, loss of opportunity, lost data or any consequential or indirect loss arising out of, or in connection with, any services (including the Service), and any claims by any third person (including any Customer), or this Agreement, even if:</p>

            <p>a. The Subline knew that loss was possible; or</p>

            <p>b. the loss was otherwise foreseeable.</p>

            <p>12.4 The Merchant Venue acknowledges that The Subline may make facilities available on the Service Portals for the access by Customers to ratings and reviews of suppliers of goods and services, which may include reviews or ratings of the Merchant Venue, and The Subline will have no liability to the Merchant Venue or any other person for any reason whatsoever arising from any comment, review, assessment or statement (whether true or untrue) made or published by any third person about the Merchant Venue or any person or entity associated with the Merchant Venue.</p>

            <p>13. Dispute resolution</p>

            <p>13.1 Any dispute arising in connection with this Agreement must be handled in accordance with this clause before a party may commence any form of litigation or legal proceedings.</p>

            <p>13.2 A party must give notice to the other party in writing of the nature of any dispute, and within 5 days of such notice:</p>

            <p>a. each party must appoint a representative with full decision making authority to negotiate on behalf of, and bind, their party to resolution of the dispute, and those representatives must meet personally (or, if agreed, by telephone, video conference or such other means as the parties consider appropriate) to consider and seek to resolve the dispute within 5 days of their appointment;</p>

            <p>b. if the respective representatives are unable to resolve the dispute after 5 days of their first meeting (or other such period as is agreed between the parties), refer the dispute to the respective chief executive officers (or equivalent) of each party, who must meet personally (or, if agreed, by telephone, video conference or such other means as the parties consider appropriate) within 7 days to discuss and seek to resolve the dispute; and</p>

            <p>c. if the respective chief executive officers (or equivalent) are unable to resolve the dispute within 7 days of their first meeting, either party is free to commence such process, including alternative dispute resolution or litigation, as they see fit to resolve the dispute.</p>

            <p>14. Variation</p>

            <p>14.1 These terms and conditions may be amended by The Subline at any time by posting revised terms and conditions online at The Subline.com/merchant-terms/, and, subject to clause 18.2, those amended terms and conditions will be effective immediately on posting, and by continuing to use the Service the Merchant Venue will be deemed to have accepted the amended terms and conditions.</p>

            <p>14.2 If the Merchant Venue does not accept any variation to these terms and conditions, it may terminate the Agreement with immediate effect, provided that the Merchant Venue gives notice in writing of such termination to The Subline within 7 days of the amended terms and conditions becoming effective.</p>

            <p>14.3 This Agreement and the Subscription Plan may be amended by The Subline at any time by giving notice in writing (&quot;Amendment Notice&quot;) of the amended terms to the Merchant Venue, and subject to clause 18.4, those amended terms will be effective immediately from the date of the Amendment Notice. Unless the Merchant Venue terminates the Agreement within 7 days after the date of the Amendment Notice in accordance with clause 18.4, the Merchant Venue will be deemed to have accepted the amended terms. If the Merchant Venue terminates the Agreement in accordance with clause 18.4, the amendments detailed in the Amendment Notice will not be binding on the Merchant Venue.</p>

            <p>14.4 If the Merchant Venue does not accept any variation to the Agreement or Subscription Plan, it may terminate the Agreement with immediate effect, provided that the Merchant Venue gives notice in writing of such termination to The Subline within 7 days of the amended terms becoming effective.</p>

            <p>14.5 Except where otherwise explicitly permitted by a clause of this Agreement, the provisions of this Agreement may not be varied by the Merchant Venue, except by agreement in writing signed by the parties.</p>

            <p>15. General</p>

            <p>15.1 For the purposes of this Agreement, any notice required to be given in writing may be given by electronic means, including by email or such other form of written communication as the parties agree from time to time.</p>

            <p>15.2 This Agreement contains all the terms agreed between the parties regarding its subject matter and supersedes and excludes any prior agreement, understanding or arrangement between the parties, whether oral or in writing. No representation, undertaking or promise shall be taken to have been given or be implied from anything said or written in negotiations between the parties prior to this Agreement except as expressly stated in this Agreement.</p>

            <p>15.3 The failure of either party to assert any of its rights under the Agreement, including, but not limited to, the right to terminate the Agreement in the event of breach or default by the other party, will not be deemed to constitute a waiver by that party of its right thereafter to enforce each and every provision of this Agreement in accordance with their terms.</p>

            <p>15.4 The invalidity or unenforceability of any term of or right arising pursuant to this Agreement shall not adversely affect the validity or enforceability of the remaining terms and rights.</p>

            <p>15.5 The Merchant Venue must not assign, transfer, charge or otherwise encumber, create any trust over or deal in any manner with this Agreement or any right, benefit or interest under it, nor transfer, novate or sub-contract any of Merchant Venue's obligations under it.</p>

            <p>15.6 The Subline may assign or novate part or all of this Agreement to any party at any time, and the Merchant Venue:</p>

            <p>a. consents to the transfer or disclosure of its personal Information and this Agreement to any purchaser of the business of The Subline or its assets if that outcome occurs;</p>

            <p>b. hereby acknowledges its consent to such assignment or novation to any party; and</p>

            <p>c. agrees to do all things reasonably required by The Subline, including executing an appropriate deed of assignment or novation, as The Subline reasonably requires to give full effect to such assignment or novation.</p>

            <p>15.7 This Agreement does not create any agency, employment, partnership, joint venture, or other joint relationship between The Subline and the Merchant Venue. The Subline and the Merchant Venue are independent contractors and neither has any authority to bind the other. For the avoidance of doubt, The Subline has no authority to bind the Merchant Venue to any contract with a Customer, and no contract for the supply of Venue Products is formed between any party until the Merchant Venue communicates Order Acceptance, at which time a contract is formed solely between the Merchant Venue and the Customer.</p>

            <p>15.8 This Agreement will be governed by and construed in according to the law of the State of Florida, USA, and each party submits unconditionally to the jurisdiction of the courts of that State.</p>

            <p>16. Security Overview</p>

            <p>16.1 All Merchant and Customer data is written to multiple disks instantly, backed up daily, and stored in multiple locations. Files that Customers upload are stored on servers that use modern techniques to remove bottlenecks and points of failure.</p>

            <p>16.2 Whenever data is in transit between Merchant and The Subline, everything is encrypted, and sent using HTTPS.</p>

            <p>16.3 All credit card transactions are processed using secure encryption are handled via Third Party Payment Providers.</p>
        </div>
    </body>
</html>