<!DOCTYPE html>
<html>
    <head>
        <title>The Subline</title>
        <link rel="stylesheet" href="/landingPage/landing.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div id="main">
            <button>Login</button>
            <button onclick="landingPage.choosePos()">Register</button>
        </div>

        <form id="login"></form>

        <div id="pos">
            <h1>Choose your POS System</h1>
            <div class="cards">
                <a href="/merchant/new/clover">
                    <img src="../shared/images/clover-logo.jpeg">
                </a>
                <a href="/merchant/new/none">
                    <img src="../shared/images/logo.png">
                    <p>None</p>
                </a>
            </div>
        </div>

        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../shared/validation.js"></script>
        <script src="/landingPage/landing.js"></script>
    </body>
</html>