<!DOCTYPE html>
<html>
    <head>
        <title>The Subline</title>
        <link rel="stylesheet" href="/landingPage/landing.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div id="publicStrand">
            <button onclick="loginObj.display()">Login</button>
            <button onclick="posChoiceObj.display()">Register</button>
        </div>

        <div id="loginStrand">
            <form action="/login" method="post">
                <label>Email:
                    <input name="email" type="email" required>
                </label>

                <label>Password:
                    <input name="password" type="password" required>
                </label>

                <input type="submit" value="Log In">
            </form>
        </div>

        <div id="posChoiceStrand">
            <h1>Choose your POS System</h1>
            <div class="cards">
                <a href="/merchant/new/clover">
                    <img src="../shared/images/clover-logo.jpeg">
                </a>
                <a href="/merchant/new/none">
                    <img src="../shared/images/logo.png">
                    <p>None</p>
                </a>
            </div>
        </div>

        <script>let error = <%- JSON.stringify(error) %>;</script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../shared/validation.js"></script>
        <script src="/landingPage/public.js"></script>
        <script src="/landingPage/login.js"></script>
        <script src="/landingPage/posChoice.js"></script>
        <script src="/landingPage/controller.js"></script>
    </body>
</html>