*{margin:0;padding:0;}

body{
    font-family: 'Saira', sans-serif;
}

#loginStrand{
    display: none;
}

/* Displaying the choice for the POS system */
#posChoiceStrand{
    display: none;
    flex-direction: column;
    align-items: center;
}

    .cards{
        display: flex;
        justify-content: space-around;
    }

        .cards > *{
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            text-align: center;
            width: 300px;
            height: 200px;
            border-radius: 25px;
            border: 2px solid black;
            padding: 50px;
            cursor: pointer;
            margin: 25px;
            box-shadow: 0 0 20px black;
        }

            .cards > *:hover{
                box-shadow: 0 0 25px #ff626b;
            }

            .cards > *:active{
                box-shadow: 0 0 10px #ff626b;
            }

            .cards p{
                margin-top: 25px;
                font-size: 25px;
                font-weight: bold;
            }

        .cards img{
            margin: auto 10px;
        }