<!DOCTYPE html>
<html>
    <head>
        <title>The Subline</title>
        <link rel="stylesheet" href="/landingPage/landing.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div id="main">
            <button>Login</button>
            <button onclick="landingPage.choosePos()">Register</button>
        </div>

        <form id="login">

        </form>

        <div id="pos">
            <h1>Choose your POS System</h1>
            <div class="cards">
                <div>
                    <img src="../shared/images/clover-logo.jpeg">
                </div>
                <div>
                    <img src="../shared/images/logo.png">
                    <p>None</p>
                </div>
            </div>
        </div>

        <form id="register" onsubmit="landingPage.register()">
            <label>Email
                <input id="regEmail" type="email" required>
            </label>

            <label>Password
                <input id="regPass" type="password" required>
            </label>

            <label>Confirm Password
                <input id="regConfirmPass" type="password" required>
            </label>
        </form>

        <script src="../shared/validation.js"></script>
        <script src="/landingPage/landing.js"></script>
    </body>
</html>