<!DOCTYPE html>
<html>
    <head>
        <title>The Subline</title>
        <link rel="stylesheet" href="/landingPage/landing.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div id="publicStrand">
            <button onclick="loginObj.display()">Login</button>
            <a href="/merchant/new/clover">Register</a>
        </div>

        <div id="loginStrand">
            <form action="/login" method="post">
                <label>Email:
                    <input name="email" type="email" required>
                </label>

                <label>Password:
                    <input name="password" type="password" required>
                </label>

                <input type="submit" value="Log In">
            </form>
        </div>

        <script>let error = <%- JSON.stringify(error) %>;</script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../shared/validation.js"></script>
        <script src="/landingPage/public.js"></script>
        <script src="/landingPage/login.js"></script>
        <script src="/landingPage/controller.js"></script>
    </body>
</html>