<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/verifyPage/verify.css">
    </head>
    <body>
        <% include ../shared/header %>

        <h1 class="title">Verify your email address</h1>

        <p class="text">Please enter the 15 character code sent to your email address</p>

        <form class="form" action="/verify" method="post">
            <input class="code" name="code" type="text">

            <input name="id" type="hidden" value="<%=id%>">

            <input class="button" type="submit" value="VERIFY">
        </form>

        <p class="resend">Didn't recieve an email?</p>

        <a href="/verify/email/<%=id%>">Resend email</a>
    </body>

    <script>
        document.getElementById("helpLink").style.display = "block";
        document.getElementById("privacyPolicyLink").style.display = "block";
        document.getElementById("termsLink").style.display = "block";
    </script>
</html>