<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta content="width=device-width, initial-scale=1" name="viewport"/>
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link href="https://fonts.googleapis.com/css?family=Saira&display=swap" rel="stylesheet"> 
        <link rel="stylesheet" href="/shared/shared.css">
        <link rel="stylesheet" href="/verifyPage/verify.css">
    </head>
    <body>
        <div class="header">
            <a class="headerStart" href="/" >
                <img src="/shared/images/logo.png" alt="Subline">
                <div class='headerLogo'>THE SUBLINE</div>
            </a>
        
            <div class="headerEnd">
                <a id="helpLink" class="headerHide" href="/help">HELP</a>
        
                <a id="privacyPolicyLink" class="headerHide" href="/privacy">PRIVACY POLICY</a>
        
                <a id="termsLink" class="headerHide" href="/terms">TERMS AND CONDITIONS</a>        
            </div>
        </div>

        <% if(banner !== undefined){ %>
            <% include ./banner.ejs %>
        <% } %>

        <h1 class="title">An email has been sent to <%=email%>.  Use the link in the email to verify your account.</h1>

        <p class="text">If you did not recieve an email or need to change your email address, enter it below and click submit.</p>

        <form class="form" action="/verify/resend" method="post">
            <input class="email" name="email" type="email" required>

            <input name="id" type="hidden" value="<%=id%>">

            <input class="button" type="submit" value="SUBMIT">
        </form>
    </body>
    
    <script>
        setTimeout(()=>{
            let banner = document.getElementById("banner");
            if(banner !== null) banner.style.display = "none";
        }, 10000);
    </script>
</html>