<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/recipesPage/recipes.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <h1 id="title">Recipes</h1>

        <button id="recipeUpdate" onclick="recipesPage.updateRecipes()">Update Recipes</button>

        <div id="recipes" class="container"></div>

        <div id="ingredient" >
            <button id="addButton">Add Ingredient</button>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <script>let merchant = <%- JSON.stringify(merchant) %>;</script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../shared/validation.js"></script>
        <script src="/recipesPage/recipes.js"></script>
    </body>
</html>