/* General use */
span{
    color: rgb(255, 99, 107);
}

/* recipesStrand */
#recipesStrand{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #recipesStrand > *{
        margin: 15px;
    }

    #recipeUpdate{
        margin-bottom: 10px;
    }

    #recipesContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 25px;
    }

        .recipe-card{
            border: 2px solid rgb(255, 99, 107);
            box-shadow: 2px 2px 2px rgb(0, 27, 45);
            background: rgb(0, 27, 45);
            color: rgb(255, 99, 107);
            width: 20%;
            min-width: 200px;
            padding: 35px;
            margin: 25px;
            border-radius: 10px;
            cursor: pointer;
        }

            .recipe-card:hover{
                transform: translateY(-3px);
            }

            .empty-recipe{
                background: rgb(255, 99, 107);
                border: 2px solid rgb(0, 27, 45);
                color: rgb(0, 27, 45);
            }

/* singleRecipeStrand */
#singleRecipeStrand{
    display: none;
    /* width: 50%; */
    flex-direction: column;
    margin: auto;
    align-items: center;
}

    #singleRecipeStrand > *{
        margin: 15px;
    }

    #delRecipe{
        display: "none"
    }

    #recipeName{
        margin-top: 0;
    }

@media screen and (max-width: 1000px){
    /* General use */
    body{
        text-align: center;
    }

    /* singlerecipeStrand */
    #singleRecipeStrand .buttonsDiv{
        font-size: 15px;
    }
}