<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/recipesPage/recipes.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div id="recipesStrand">
            <h1><span><%=merchant.name%></span> recipes</h1>

            <div>
                <% if(merchant.pos !== "none"){ %>
                    <button class="button" id="recipeUpdate" onclick="recipesObj.updateRecipes()">Update Recipes</button>
                <% } %>

                <a class="button" href="/inventory">View Inventory</a>
            </div>

            <div id="recipesContainer"></div>
        </div>

        <div id="singleRecipeStrand" >
            <h1><span><%=merchant.name%></span>'s</h1>
            <h1 id="recipeName"></h1>

            <div class="buttonsDiv">
                <button class="button" id="addButton">Add Ingredient</button>

                <button class="button" onclick="recipesObj.display()">Back to Recipes</button>
            </div>

            <table>
                <thead>
                    <tr>
                        <th>Name</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <script>let merchant = <%- JSON.stringify(merchant) %>;</script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="../shared/validation.js"></script>
        <script src="/recipesPage/recipes.js"></script>
        <script src="/recipesPage/singleRecipe.js"></script>
        <script src="/recipesPage/controller.js"></script>
    </body>
</html>