*{margin:0;padding:0;}

body{
    text-align: center;
}

h1{
    margin-bottom: 25px;
}

h2{
    border-bottom: 2px solid #ff626b;
    margin-bottom: 15px;
}

#recipes{
    display: flex;
    flex-direction: column;
    align-items: center;
}

    #recipeUpdate{
        margin-bottom: 10px;
    }

    #recipesContainer{
        display: flex;
        justify-content: space-around;
        flex-wrap: wrap;
        padding: 25px;
    }

        .recipe-card{
            border: 2px solid #ff626b;
            box-shadow: 2px 2px 2px #001b2d;
            background: #001b2d;
            color: #ff626b;
            width: 20%;
            padding: 35px;
            margin: 25px;
            border-radius: 10px;
            cursor: pointer;
        }

            .recipe-card:hover{
                transform: translateY(-3px);
            }

#ingredient{
    display: none;
    width: 50%;
    flex-direction: column;
    margin: auto;
    align-items: center;
}

    #addButton{
        max-width: 150px;
        margin-bottom: 25px;
    }

    th{
        border: 2px solid #ff626b;
        background: #001b2d;
        color: darkgray;
        padding: 3px;
        min-width: 150px;
    }

    th:nth-of-type(3){
        border: none;
        background: none;
        color: white;
        min-width: 0;
        cursor: auto;
    }

    td{
        border: 1px solid black;
        text-align: center;
        padding: 1px 10px;
    }

    td:nth-of-type(3n){
        border: none;
    }

    #delRecipe{
        display: "none"
    }