#title{
    font-size: 45px;
    color: rgb(255, 99, 107);
    text-align: center;
    margin-top: 25px;
}

/* Home Strand */
#homeStrand{
    flex-direction: column;
    align-items: center;
}

    #homeStrand > *{
        margin: 15px;
    }

    .tables{
        display: flex;
        justify-content: space-around;
        width: 100%;
    }

    .dataTable{
        display: flex;
        flex-direction: column;
        align-items: center;
    }

/* Graph Action */
#ingredientStrand{
    flex-direction: column;
    align-items: center;
}

    #ingredientStrand > *{
        margin: 10px;
    }

    canvas{
        height: 60vh;
        width: 98vw;
    }