<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>The Subline</title>
        <link rel="icon" type="img/png" href="/shared/images/logo.png">
        <link rel="stylesheet" href="/merchantSetupPage/merchantSetup.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div id="basicInfoStrand" class="container">
            <h1>Basic Information</h1>

            <form onsubmit="basicInfoObj.submit()">
                <label id="nameLabel">Name
                    <input id="regName" type="text">
                </label>

                <label>Email
                    <input id="regEmail" type="email" required>
                </label>

                <label>Password
                    <input id="regPass" type="password" required>
                </label>

                <label>Confirm Password
                    <input id="regConfirmPass" type="password" required>
                </label>

                <label>
                    <input id="agree" onclick="basicInfoObj.agree()" type="checkbox">
                    I agree to the <a href="/legal" target="_blank">Privacy Policy & Terms and Conditions</a>
                </label>

                <input id="subButton" class="buttonDisabled" type="Submit" value="Continue" disabled>
            </form>
        </div>

        <div id="addIngredientsStrand" class="container">
            <h1>Choose the ingredients in your inventory</h1>

            <h5>(Can't find something?  You can create it in the next step)</h5>
            
            <table id="ingredient-display">
                <thead>
                    <tr>
                        <th>Add</th>
                        <th>Ingredient</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <button class="button" onclick="addIngredientsObj.submit()">Continue</button>
        </div>

        <div id="createIngredientsStrand" class="container">
            <h1>Create ingredients for your inventory</h1>

            <div class="buttonDiv">
                <button class="button" onclick="addIngredientsObj.display()">Back</button>

                <button class="button" onclick="createIngredientsObj.newIngredientField()">Create Ingredient</button>

                <button class="button" id="finishButton" onclick="createIngredientsObj.submit()">No new ingredients</button>
            </div>

            <table id="inputField">
                <thead>
                    <tr>
                        <th>Ingredient Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Measurement Unit</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            
        </div>

        <div id="nameRecipesStrand" class="container">
            <h1>Name your recipes</h1>

            <button class="button" onclick="nameRecipesObj.addNameField()">Add Recipe</button>

            <div id="nameList"></div>

            <button class="button" onclick="nameRecipesObj.submit()">Submit</button>
        </div>

        <div id="createRecipesStrand" class="container">
            <h1>Add ingredients to your recipes</h1>

            <h2 id="recipeName"></h2>

            <div class="buttonDiv">
                <button class="button" onclick="createRecipesObj.addRecipeIngredientField()">Add Ingredient</button>

                <button class="button" id="next">Next Recipe</button>

                <button class="button" id="previous" onclick="createRecipesObj.changeRecipe(-1)">Previous Recipe</button>
            </div>

            <% if(!locals.recipes){ %>
                <label>Price:
                    <input id="price" type="number" step="0.01" min="0" placeholder="enter price" required> 
                </label>
            <% } %>

            <table>
                <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th>Actions</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
        </div>

        <script>
            let ingredients = <%- JSON.stringify(ingredients) %>;
            let recipes = <%- JSON.stringify(recipes) %>;
            let error = <%- JSON.stringify(error) %>;
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/shared/validation.js"></script>
        <script src="/merchantSetupPage/basicInfo.js"></script>
        <script src="/merchantSetupPage/addIngredients.js"></script>
        <script src="/merchantSetupPage/createIngredients.js"></script>
        <script src="/merchantSetupPage/nameRecipes.js"></script>
        <script src="/merchantSetupPage/createRecipes.js"></script>
        <script src="/merchantSetupPage/controller.js"></script>
    </body>
</html>

