<!DOCTYPE html>
<html>
    <head>
        <link rel="stylesheet" href="/merchantSetupPage/merchantSetup.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <div id="addIngredients" class="container">
            <h1>Add your first set of ingredients to your pantry</h1>

            <h3>Choose from our list of ingredients</h3>

            <h5>(Can't find something?  You can create it in the next step)</h5>
            
            <table id="ingredient-display">
                <thead>
                    <tr>
                        <th>Add</th>
                        <th>Ingredient</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <button onclick="updateState(1)">Next</button>
        </div>

        <div id="newIngredients" class="container hide">
            <h1>Add your first set of ingredients to your pantry</h1>

            <h3>Create your own ingredients</h3>

            <table id="inputField">
                <thead>
                    <tr>
                        <th>Ingredient Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Measurement Unit</th>
                        <th class="anticolumn"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button onclick="newIngredientField()">+</button>
            <button onclick="updateState(1)">Create Ingredients</button>
            <button onclick="updateState(-1)">Back</button>
        </div>

        <div id="createRecipes" class="container hide">
            <h1>Create your recipes</h1>

            <h2 id="recipeName"></h2>

            <table id="recipes">
                <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th class="anticolumn"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <button onclick="addRecipeIngredientField()">+</button>
            <button id="next"></button>
            <button id="previous" onclick="changeRecipe(-1)">Previous Recipe</button>
        </div>

        <script>
            let ingredients = <%- JSON.stringify(ingredients) %>;
            let recipes = <%- JSON.stringify(recipes) %>;
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/merchantSetupPage/merchantSetup.js"></script>
    </body>
</html>

