<!DOCTYPE html>
<html>
    <head>
        <title>The Subline</title>
        <link rel="stylesheet" href="/merchantSetupPage/merchantSetup.css">
        <link rel="stylesheet" href="/shared/shared.css">
    </head>
    <body>
        <% include ../shared/header %>

        <% include ../shared/banner %>

        <div id="basicInfoStrand" class="container">
            <h1>Basic Information</h1>

            <form onsubmit="basicInfoObj.submit()">
                <label id="nameLabel">Name
                    <input id="regName" type="text">
                </label>

                <label>Email
                    <input id="regEmail" type="email" required>
                </label>

                <label>Password
                    <input id="regPass" type="password" required>
                </label>

                <label>Confirm Password
                    <input id="regConfirmPass" type="password" required>
                </label>

                <input type="Submit" value="Next">
            </form>
        </div>

        <div id="addIngredientsStrand" class="container">
            <h1>Add your first set of ingredients to your pantry</h1>

            <h3>Choose from our list of ingredients</h3>

            <h5>(Can't find something?  You can create it in the next step)</h5>
            
            <table id="ingredient-display">
                <thead>
                    <tr>
                        <th>Add</th>
                        <th>Ingredient</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Unit</th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <button onclick="addIngredientsObj.submit()">Next</button>
        </div>

        <div id="createIngredientsStrand" class="container">
            <h1>Add your first set of ingredients to your pantry</h1>

            <h3>Create your own ingredients</h3>

            <table id="inputField">
                <thead>
                    <tr>
                        <th>Ingredient Name</th>
                        <th>Category</th>
                        <th>Quantity</th>
                        <th>Measurement Unit</th>
                        <th class="anticolumn"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>
            <button onclick="createIngredientsObj.newIngredientField()">+</button>
            <button onclick="createIngredientsObj.submit()">Create Ingredients</button>
            <button onclick="addIngredientsObj.display()">Back</button>
        </div>

        <div id="nameRecipesStrand" class="container">
            <h1>Name your recipes</h1>

            <button onclick="nameRecipesObj.addNameField()">Add Recipe</button>

            <div id="nameList"></div>

            <button onclick="nameRecipesObj.submit()">Submit</button>
        </div>

        <div id="createRecipesStrand" class="container">
            <h1>Add ingredients to your recipes</h1>

            <h2 id="recipeName"></h2>

            <% if(!locals.recipes){ %>
                <input id="price" type="number" step="0.01" min="0" placeholder="enter price" required> 
            <% } %>

            <table id="recipeTable">
                <thead>
                    <tr>
                        <th>Ingredient</th>
                        <th>Quantity</th>
                        <th class="anticolumn"></th>
                    </tr>
                </thead>
                <tbody></tbody>
            </table>

            <button onclick="createRecipesObj.addRecipeIngredientField()">+</button>
            <button id="next"></button>
            <button id="previous" onclick="createRecipesObj.changeRecipe(-1)">Previous Recipe</button>
        </div>

        <script>
            <% if(locals.error){ %>
                let error = <%- JSON.stringify(error) %>;
            <% }else{ %>
                let error = undefined;
            <% } %>
        </script>
        <script>
            let ingredients = <%- JSON.stringify(ingredients) %>;
            let recipes = <%- JSON.stringify(recipes) %>;
        </script>
        <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
        <script src="/shared/validation.js"></script>
        <script src="/merchantSetupPage/basicInfo.js"></script>
        <script src="/merchantSetupPage/addIngredients.js"></script>
        <script src="/merchantSetupPage/createIngredients.js"></script>
        <script src="/merchantSetupPage/nameRecipes.js"></script>
        <script src="/merchantSetupPage/createRecipes.js"></script>
        <script src="/merchantSetupPage/controller.js"></script>
    </body>
</html>

